<!DOCTYPE html>
<html dir="ltr" lang="en-US" ng-app="components">
  <head>
	<meta charset="utf-8">
    <title>Presto | Create | Video Playlist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/presto-ui.css" rel="stylesheet" media="screen">
    <link href="css/pstrap.css" rel="stylesheet" media="screen">
    <link href="css/select2.css" rel="stylesheet" media="screen">
    
  </head>
  <body>
<!-- Content -->
<header id="prestoheader" class="">
	  <nav class="row-fluid navbar">
      	<div class="navbar-inner">
                <div class="container">
                  <a class="brand" href="#">
<hgroup class="presto-logo light text-xsmall" style="font-size: 36px; border-right: 1px solid rgba(0,0,0,.2);">
  <icon class="p-icon-mark-presto design"></icon>
  <h1>PRESTO</h1>
  <h2>Design</h2>
  <br style="clear:both;">
</hgroup>
                  </a>
                  <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                      
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">View <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Content Dashboard</a></li>
                          <li><a href="#">Asset Gallery</a></li>
                          <li><a href="#">Wires</a></li>
                          <li class="divider"></li>
                          <li><a href="#"><strong>More…</strong></a></li>
                        </ul>
                      </li>
                      
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li class="nav-header">Articles</li>
                          <li class="dropdown-submenu">
                          	<a tabindex="-1" href="#">Blog Post</a>
						  	<ul class="dropdown-menu">
								<li><a href="#">App Insider		  </a></li>	
								<li><a href="#">Book Buzz		  </a></li>	
								<li><a href="#">Book Review		  </a></li>	
								<li><a href="#">Breaking News	  </a></li>	
								<li><a href="#">Campus Rivalry	  </a></li>	
								<li><a href="#">Corrections		  </a></li>	
								<li><a href="#">Cruise Log		  </a></li>	
								<li><a href="#">CyberTruth		  </a></li>	
								<li><a href="#">Daily Pitch		  </a></li>	
								<li><a href="#">Dispatches		  </a></li>	
								<li><a href="#">Drive On		  </a></li>	
								<li><a href="#">Event			  </a></li>	
								<li><a href="#">Faith & Reason	  </a></li>	
								<li><a href="#">Fantasy Joe		  </a></li>	
								<li><a href="#">Fantasy Windup	  </a></li>	
								<li><a href="#">Fighting Stances  </a></li>	
								<li><a href="#">Game Hunters	  </a></li>	
								<li><a href="#">Game On!		  </a></li>	
								<li><a href="#">Green House		  </a></li>	
								<li><a href="#">Happy Ever After  </a></li>	
								<li><a href="#">Hotel Check-In	  </a></li>	
								<li><a href="#">Idol Chatter	  </a></li>	
								<li><a href="#">Idol Meter		  </a></li>	
								<li><a href="#">Kindness		  </a></li>	
								<li><a href="#">Lifeline Live	  </a></li>	
								<li><a href="#">Live From		  </a></li>	
								<li><a href="#">On Deadline		  </a></li>	
								<li><a href="#">On Politics		  </a></li>	
								<li><a href="#">Paw Print Post	  </a></li>	
								<li><a href="#">Points of Interest</a></li>	
								<li><a href="#">Pop Candy		  </a></li>	
								<li><a href="#">Pressreleases	  </a></li>	
								<li><a href="#">Promo			  </a></li>	
								<li><a href="#">Science Fair	  </a></li>	
								<li><a href="#">Short Takes		  </a></li>	
								<li><a href="#">Technology Live	  </a></li>	
								<li><a href="#">Test			  </a></li>	
								<li><a href="#">The Huddle		  </a></li>	
								<li><a href="#">The Oval		  </a></li>	
								<li><a href="#">Today in the Sky  </a></li>	
								<li><a href="#">View from China	  </a></li>	
	                        </ul>
                          </li>
                          <li><a href="#">Story</a></li>
                          <li><a href="#">Breaking News</a></li>
                          <li><a href="#">Book Review</a></li>
                          <li class="divider"></li>
                          <li class="nav-header">Assets</li>
                          <li><a href="#">Gallery</a></li>
                          <li><a href="#">Video</a></li>
                          <li><a href="#">Multi-Image Upload</a></li>
                          <li class="divider"></li>
                          <li><a href="#"><strong>More…</strong></a></li>
                        </ul>
                      </li>
                      
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          	<li class="nav-header">Sections</li>
							<li><a href="#">Home				  </a></li>
							<li><a href="#">News				  </a></li>
							<li><a href="#">Sports				  </a></li>
							<li><a href="#">Life				  </a></li>
							<li><a href="#">Money				  </a></li>
							<li><a href="#">Tech				  </a></li>
							<li><a href="#">Travel				  </a></li>
	                        <li class="divider"></li>
							<li class="nav-header">Special</li>
							<li><a href="#">Curated Topic		  </a></li>
							<li><a href="#">Global Modules		  </a></li>
							<li><a href="#">Html Edit Test		  </a></li>
							<li><a href="#">Manage Fronts		  </a></li>
							<li><a href="#">Mobile Config Tool	  </a></li>
							<li><a href="#">Social Media		  </a></li>
							<li><a href="#">Staff Edit			  </a></li>
							<li><a href="#">Staff Maintenance	  </a></li>
							<li><a href="#">User Generated Content</a></li>
	                        <li class="divider"></li>
	                        <li><a href="#"><strong>More…</strong></a></li>
                        </ul>
                      </li>
                      
                    </ul>
                   </div><!-- /.nav-collapse -->
                </div>
        </div><!-- /navbar-inner -->
      </nav>
      
      <div id="breadcrumb" class="row-fluid">	
			<ul class="breadcrumb">
			  <li class="indexitem"><a href="#">Content Dashboard</a><span class="divider">/</span></li>
			  <li><a href="#">Create</a><span class="divider">/</span></li>
			  <li><strong>Video Playlist</strong></li>
			 </ul>
		</div>
      
	</header>
  
		
		<div id="breadcrumb" class="storyurl row-fluid" class="" ng-hide="isFullScreen">
			
			<ul class="breadcrumb pull-left">
			  <li><a href="#">Content Dashboard</a><span class="divider">/</span></li>
			  <li><a href="#">Create</a><span class="divider">/</span></li>
			  <li><strong>Video Playlist</strong></li>
			 </ul>
			 
			<div class="pull-right" style=" margin-right: 10px;"><strong>URL</strong> 
				<a href="#">http://www.usatoday.com/story/weather/2012/12/05/arctic-report-card-noaa/1748861/</a>
				
			<div class="btn-group dropdown metalinks">
			  <button class="btn btn-mini" title="click to copy ID to clipboard">ID 838098</button>
			  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <!-- dropdown menu links -->
			    <li><a href="#">Edit Asset</a></li>
			    <li><a href="#">View Asset</a></li>
			    <li><a href="#">View XML</a></li>
			    <li><a href="#">View JSON</a></li>
			  </ul>
			</div>
		</div>
		</div>
		
		
		
<form id="storyform" ng-model="storyform" class="form-search" name="storyform" novalidate>
	
	<section id="page" ng-controller="Controller" class="container">
		
		
		
		<div id="storycontrols" class="offset8 affix">
			
<div id="whois" class="alert alert-warning text-small">
	<strong>tjefferson</strong> and <strong>bfranklin</strong> are editing this story
</div>
				
<div id="draftcontrols" class="draftcontrols content">

<div class="draftstatus">

	<div id="draftmessage" class="status draft pull-right">Draft</div> 

	<div id="saving" class="label-text pull-left small" ng-show="isSaving"><i class="p-icon-spinner spinner"></i> Saving</div>

	<div id="savemessage1" class="label-text text-small pull-left savemessage" ng-show="!isDraft">NOT SAVED</div>

	<div id="savemessage2" class="label-text text-small pull-left"  ng-show="isDraft"><strong>Saved:</strong> 1 min ago (3/21/2013 4:48 pm)</div>

</div>
						<br><br>	
	<div class="btn-group" class="draftbuttons pull-clear">
		
		<button id="fullscreen" title="Click for Full Screen View" ng-click="togglefullscreen()" class="btn"><i class="icon-fullscreen"></i> </button>
		
		<button  title="Click for Spell Check" class="btn" type="button" ng-click="spellcheck()"> <i class="icon-check"></i></button>
		<a id="previewbtn" title="Click to Preview" class="btn" ng-disabled="storyform.$invalid" href="http://www.usatoday.com" target="preview"><i class="icon-eye-open"></i></a><button  title="Click to send to Newsgate" id="savedraft" class="btn" ng-disabled="storyform.$invalid" ng-click="savedraft()" tabindex="2">Newsgate <i class="icon- icon-arrow-right"></i> </button>
		<button  title="Click to save Draft" id="savedraft" class="btn btn-primary" ng-disabled="storyform.$invalid" ng-click="savedraft()" tabindex="2">Save</button>
	
	</div>
							
</div>
					
<div id="publishcontrols" class="publishcontrols content">	

	<div id="publishbutton" class="">
		<button id="publishbtn" class="btn btn-success btn-large btn-block" ng-disabled="!isDraft" ng-click="publish()">Publish</button>
	</div>
	
	<div id="publishedmsg" class="embargomsg pull-clear text-small" ng-show="!isPublished && !isEmbargoed"><strong>Published:</strong> Not Published</div>
		
	<div id="publishedmsg" class="embargomsg pull-clear text-small" ng-show="isPublished && !isEmbargoed"><strong>Published:</strong> >1 Min ago  (3/21/2013 4:48 pm)</div>
	
	<div id="publishedmsg" class="embargomsg pull-clear text-small" ng-show="isEmbargoed"><strong>Published:</strong> Pending Embargo</div>
	
	<div id="embargodate1" class="embargomsg pull-clear text-small" ng-show="!isEmbargoed"><strong>Embargo</strong>: Publish Immediately <button class="btn btn-micro btn-inverse" ng-click="toggleembargooptions()">edit</button></div>

	<div id="embargodate2" class="embargomsg pull-clear text-small" ng-show="isEmbargoed"><strong>Embargo</strong>: 58 Min  (3/21/2013 4:48 pm) <button style="" class="btn btn-micro btn-inverse"  ng-click="toggleembargooptions()">edit</button></div>

	
	<div id="embargooptions" class="text-small" ng-show="isEmbargoOptions">
							<label class='control-label text-small' for='inputIcon'>Embargo Date/Time</label>
							<div class='controls'>
								<div class='input-prepend input-append'>
									<span class='add-on'><i class='icon-calendar'></i></span>
									<input ng-click="embargo()" id='inputIcon' type='datetime-local'>
								<button title="Click to Cancel Embargo" class="btn" ng-click="cancelembargo()"><i class="icon-remove-sign"></i></button>
								</div>
								
								
							</div>	    		 
						</div>	
			
	<div id="excludefrom">
		<label class="text-small">Exclude from:</label>
		<input type='checkbox'> 
		<label class="text-small">Mobile</label>
		<input type='checkbox'> 
		<label class="text-small">Tablet</label>
	</div>
	<div id="contentque" class="pull-clear text-small">
		
		<div id='returnqueue'  ng-show="isPublished">
							
							<input type='checkbox' style='vertical-align: baseline;'> 
							<label style='display: inline-block' class='text-small'>Return Story to Content Queue</label>
						
							</div>
						
		<label for="notecq" class="text-small">Note to Content Queue</label>
		<textarea id="notecq"  name="notecq" cols="8" rows="1" onfocus="this.style.height='72px'"  onblur="this.style.height='18px'" placeholder="click to add note"></textarea>
		
	</div>						
	
</div>

					<fieldset id="assetlibrary">	
			
				<ul class="nav nav-tabs">
				  <li class="active">
				    <a href="#search" data-toggle="tab"><i class="icon-search"></i></a>
				  </li>
				  <li><a href="#create" data-toggle="tab">Create New Video</a></li>
				</ul>
					
					
					<div class="tab-content">
				
						<div class="tab-pane active" id="search">
							
							<header>
									
										<div class="input-append">
									

										    
										    <input type="search" ng-model="storyform.keyword" class="input-large" placeholder="Keyword/Content ID">
										    
										    <div class="btn-group">
<button type="submit" class="btn" ng-click="andrewClick()"><i class="icon-search"></i></button>
										    </div>
									</div>
									
									</header>
						
							<div class="assetlist">
					
								<table id="searchresults" ng-show="storyform.keyword">
																	
		<tr draggable="true">
		
		<td>
			<i class="icon-facetime-video"  title="video"></i>
			<a href="#"><i class="icon-plus-sign hide hover" title="Add to Playlist" ng-click=""></i></a>
		</td>
		
		
		<td>
			<h6>Pensive Parakeet</h6>
			<footer>
				<span class="label-text datetime">Jun 6 2013, 9:54am</span> <div class="btn-group dropup metalinks">
			<button class="btn btn-mini" title="click to copy ID to clipboard">ID 838098</button>
			<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			  <ul class="dropdown-menu">
			    <!-- dropdown menu links -->
			    <li><a href="#">Edit Asset</a></li>
			    <li><a href="#">View Asset</a></li>
			    <li><a href="#">View XML</a></li>
			    <li><a href="#">View JSON</a></li>
			  </ul>
			</div>
			</footer>
		</td>
		<td>
			<a href="#preview1" class="thumbnail" data-toggle="modal">
				<i class="icon-play-circle control" title="play"></i>
				<img src="img/Photos/Pensive%20Parakeet.jpg" alt="Pensive%20Parakeet">
			</a>
		</td>
	</tr>
			
			<tr draggable="true">
		<td>
			<i class="icon-facetime-video"  title="Video"></i>
			<a href="#" class="icon-plus-sign hide hover pull-bottom" title="Add to Playlist"></a>
		</td>
		<td>
			<h6>Boston City Flow</h6>
			
			<footer>
				<span class="label-text datetime">Jun 6 2013, 9:54am</span> <div class="btn-group dropup metalinks">
			<button class="btn btn-mini" title="click to copy ID to clipboard">ID 838098</button>
			<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			  <ul class="dropdown-menu">
			    <!-- dropdown menu links -->
			    <li><a href="#">Edit Asset</a></li>
			    <li><a href="#">View Asset</a></li>
			    <li><a href="#">View XML</a></li>
			    <li><a href="#">View JSON</a></li>
			  </ul>
			</div>
			</footer>
		</td>
		<td>
		<a href="#preview1" class="thumbnail" data-toggle="modal"><i class="icon-play-circle control" title="play"></i>
					<img src="img/Photos/Boston%20City%20Flow.jpg" alt="Boston%20City%20Flow" width="100"></a>
		</td>
	</tr>
			
			<tr draggable="true">
		<td>
			<i class="icon-facetime-video"  title="Video"></i>
			<a href="#"><i class="icon-plus-sign hide hover" title="Add"></i></a>
		</td>
		<td>
			<h6>Costa Rican Frog</h6>
			
			<footer>
				<span class="label-text datetime">Jun 6 2013, 9:54am</span> <div class="btn-group dropup metalinks">
			<button class="btn btn-mini" title="click to copy ID to clipboard">ID 838098</button>
			<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			  <ul class="dropdown-menu">
			    <!-- dropdown menu links -->
			    <li><a href="#">Edit Asset</a></li>
			    <li><a href="#">View Asset</a></li>
			    <li><a href="#">View XML</a></li>
			    <li><a href="#">View JSON</a></li>
			  </ul>
			</div>
			</footer>
		</td>
		<td><a  href="#preview2" class="thumbnail" data-toggle="modal"><i class="icon-play-circle control" title="play"></i>
		<img src="img/Photos/Costa%20Rican%20Frog.jpg" alt="Costa%20Rican%20Frog" width="100" height="768"></a>
		</td>
	</tr>
			
			<tr draggable="true">
		<td>
			<i class="icon-facetime-video"  title="Video"></i>
			<a href="#"><i class="icon-plus-sign hide hover" title="Add to Playlist"></i></a>
		</td>
		<td>
			<h6>PreRaphallite painting by Woodhouse.</h6>
			<footer>
				<span class="label-text datetime">Jun 6 2013, 9:54am</span> <div class="btn-group dropup metalinks">
			<button class="btn btn-mini" title="click to copy ID to clipboard">ID 838098</button>
			<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			  <ul class="dropdown-menu">
			    <!-- dropdown menu links -->
			    <li><a href="#">Edit Asset</a></li>
			    <li><a href="#">View Asset</a></li>
			    <li><a href="#">View XML</a></li>
			    <li><a href="#">View JSON</a></li>
			  </ul>
			</div>
			</footer>
		</td>
		<td>
			<a href="#preview3" class="thumbnail" data-toggle="modal"><i class="icon-play-circle control" title="play"></i><img src="img/Photos/PreRaphaelite.jpg" alt="PreRaphaelite" width="100"></a>
		</td>
	</tr>
			
			<tr draggable="true">
		<td>
			<i class="icon-facetime-video"  title="video"></i>
			<a href="#"><i class="icon-plus-sign hide hover" title="Add to Playlist"></i></a>
		</td>
		<td>
			<h6>Old Cars</h6>
			<footer>
			<span class="label-text datetime">Jun 6 2013, 9:54am</span> 
			
			<div class="btn-group dropup metalinks">
			<button class="btn btn-mini" title="click to copy ID to clipboard">ID 838098</button>
			<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			  <ul class="dropdown-menu">
			    <!-- dropdown menu links -->
			    <li><a href="#">Edit Asset</a></li>
			    <li><a href="#">View Asset</a></li>
			    <li><a href="#">View XML</a></li>
			    <li><a href="#">View JSON</a></li>
			  </ul>
			</div>
			</footer>
		</td>
		<td>
			<a href="#preview4" class="thumbnail" data-toggle="modal"><i class="icon-play-circle control" title="play"></i>
				
				
				<div><img src="img/Photos/merc_woody_3.jpg" alt="merc_woody_3" width="580" height="386"></div>
				
				
			</a>
		</td>
	</tr>
		
		</table>
								
								<div id="searchmessage1" class="message" ng-hide="storyform.keyword">
									Enter keyword or content ID above to begin search.
								</div>
								
								<div id="searchmessage2"  class="message error" ng-show="">
									Sorry, 0 results were found. Please try a different keyword or content ID.
								</div>
							
							</div>
	
					</div>
					
						<div class="tab-pane" id="create">
					
							<header>
							<section>
							<label>Upload from computer</label><br>
							<button class="btn">Upload Video</button>
							</section>
						
							<hr class="pull-clear">
							
							<section>
								<label>Import from Brightcove</label><br>
								<div class="input-append input-medium">
								  <input class="" type="text" placeholder="Brightcove ID">
								  <div class="btn-group">
							    <button class="btn dropdown-toggle" data-toggle="dropdown">
							      On Demand
							      <span class="caret"></span>
							    </button>
							    <ul class="dropdown-menu">
										<li><a href="#">On Demand</a></li>
										<li><a href="#">Live Video</a></li>
							    </ul>
							  </div>
								</div>
								<div><button class="btn" style="margin-top: 5px">Import Video</button></div>
							</section>
							</header>
</div>			
													    
					</div>

					</fieldset>
				
		</div>
							
 		<div id="storytitle" class="row-fluid">
 		
 			<div class="span8">		
			   <label class="pull-left">Playlist Title</label>
				<div class="char-count label-text pull-right"><strong ng-bind="0 + storyform.playlistitle.length"></strong> / 70</div>
					 <input class="input-xxlarge pull-clear required headline" ng-model="storyform.playlistitle" tabindex="1" type="text" maxlength="70" required="">

				</div>

		</div>  
		
		<div id="storycontent" class="row-fluid">
			
			<fieldset id="storymeta" class="span3">	
				
				<div class="content">
	
				<div class="text-small">
					<div class="label-text"><strong>created by:</strong> jcranfordt</div>
					<div class="label-text"><strong>modified by:</strong> host</div>
					<div class="label-text"><strong>last action:</strong> Updated — Jun 17 2013, 9:34am</div>
				</div>
	
				<hr>
				
					<label><input class="pull-left" type='checkbox' checked="true">
					Auto-populate Playlist</label>
				
				<div>	
				<label for="metadescription" class="pull-clear">Match Keywords</label>
				  <input class="span12" id="appendedInputButton" onblur="showtags()" type="text" placeholder="Enter a Keyword">
				</div>
				
				<span id="tags" class="hide">
				  <span class="badge tags" id="tag1">tag 1 <i class="icon-remove-sign"></i></span>
				  <span class="badge tags" id="tag2">long tag 2 <i class="icon-remove-sign"></i></span><span class="badge tags" id="tag5">tag 5 <i class="icon-remove-sign"></i></span> 
				  <span class="badge tags" id="tag3">even longer tag 3 <i class="icon-remove-sign"></i></span>
				  <span class="badge tags" id="tag4">tag 4 <i class="icon-remove-sign"></i></span>
				  
				</span>
				<span id="tagsauto" class="hide">
				  <span class="badge tags" id="tag1a">tag 1 <i class="icon-remove-sign"></i></span>
				  <span class="badge tags" id="tag2a">long tag 2 <i class="icon-remove-sign"></i></span>
				  <span class="badge tags" id="tag3a">even longer tag 3 <i class="icon-remove-sign"></i></span>
				  <span class="badge tags" id="tag4a">tag 4 <i class="icon-remove-sign"></i></span>
				  <span class="badge tags" id="tag5a">tag 5 <i class="icon-remove-sign"></i></span> 
				</span>
				
				<label>Any <input type="radio" checked="true" name="states"></label> <label>All <input type="radio" name="states"></label>
				
				
					<div>	
				<label for="metadescription" class="pull-clear">Exclude Keywords</label>
				  <input class="span12" id="appendedInputButton" onblur="showtags()" type="text" placeholder="Enter a Keyword to Exclude">
				</div>
				
				<span id="tags" class="hide">
				  <span class="badge tags" id="tag1">tag 1 <i class="icon-remove-sign"></i></span>
				  <span class="badge tags" id="tag2">long tag 2 <i class="icon-remove-sign"></i></span><span class="badge tags" id="tag5">tag 5 <i class="icon-remove-sign"></i></span> 
				  <span class="badge tags" id="tag3">even longer tag 3 <i class="icon-remove-sign"></i></span>
				  <span class="badge tags" id="tag4">tag 4 <i class="icon-remove-sign"></i></span>
				  
				</span>
				<span id="tagsauto" class="hide">
				  <span class="badge tags" id="tag1a">tag 1 <i class="icon-remove-sign"></i></span>
				  <span class="badge tags" id="tag2a">long tag 2 <i class="icon-remove-sign"></i></span>
				  <span class="badge tags" id="tag3a">even longer tag 3 <i class="icon-remove-sign"></i></span>
				  <span class="badge tags" id="tag4a">tag 4 <i class="icon-remove-sign"></i></span>
				  <span class="badge tags" id="tag5a">tag 5 <i class="icon-remove-sign"></i></span> 
				</span>
				
				
				
				<label>Any <input type="radio" checked="true" name="exclude"></label> <label>All <input type="radio" name="exclude"></label>
				
				<div class="select2-container ng-valid ng-dirty" style="width: 220px;"><label>Sort by</label><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>Most Recent Videos</span><abbr class="select2-search-choice-close"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text" tabindex="0"></div>
				
				<label>Max Number of Videos in Playlist
				<input type="number" id="numvideos " class="expirevalue" value="5" max="100" min="1"></label>
				
				
				<label><input class="pull-left" type='checkbox' checked="flase"> Max length of video
				<input type="number" class="expirevalue" value="5" max="999" min="1"><small>min.</small></label>
					
					<label><input class="pull-left" type='checkbox' checked="flase">
					Auto-update Playlist as new vides become available</label>
					
					<button class="btn pull-right">Preview Playlist <i class="icon-arrow-right"></i></button>
					
				<hr>
				
				<h4>Content Type</h4>
			
				<section><label>Classification</label>
			
				<div class="select2-container ng-valid ng-dirty" style="width: 220px;"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>Choose a Section</span><abbr class="select2-search-choice-close"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text" tabindex="0"></div>
				<div class="select2-container ng-valid ng-dirty" style="width: 220px;"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>Choose a Sub-section</span><abbr class="select2-search-choice-close"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text" tabindex="0"></div>
				<div class="select2-container ng-valid ng-dirty" style="width: 220px;"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>Choose a Topic</span><abbr class="select2-search-choice-close"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text" tabindex="0"></div>
				<div class="select2-container ng-valid ng-dirty" style="width: 220px;"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>Choose a Sub-topic</span><abbr class="select2-search-choice-close"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text" tabindex="0"></div>
				
			</section>
				
				<section><label>Front Assignment</label>
				<div class="select2-container ng-valid ng-dirty" style="width: 220px;"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>Choose a Section</span><abbr class="select2-search-choice-close"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text" tabindex="0"></div></section>
				
				<section><label>Featured Sereies</label>
				<div class="select2-container ng-valid ng-dirty" style="width: 220px;"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>Choose a Featured Series</span><abbr class="select2-search-choice-close"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text" tabindex="0"></div></section>
					
				<section><label>Gallery Type</label>
				<div class="select2-container ng-valid ng-dirty" style="width: 220px;"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>Standard</span><abbr class="select2-search-choice-close"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text" tabindex="0"></div></section>
			
			<hr>
			
			<div class="input-large"><label>ID for Next Playlist</label>
			<input type="text"></div>
			
			<hr>
					<input class="pull-left" type='checkbox'>
					<label>Auto Play Next Video</label>
			
			<hr>
					<input class="pull-left" type='checkbox'>
					<label>Preroll Blocked</label>
				
				</div>
			
			</fieldset>
					
			<fieldset id="storycopy" class="span5">
			        	
				<div class="row label-text border-bottom"><span class="badge">0 Videos</span>
					
					<span class="pull-right"><strong>Total Run Time:</strong>  <span class="timecode" ng-model="totalruntime">00:00:00</span></span>
					
				</div>
		
					<ol class="row"  ng-show="storyform.keyword">
					 
						<li  class="storyassetitem border-bottom" draggable="true">
				
						<div class="row-fluid">
						
						<div class="span3 thumbnail videothumbnail">
						<a href="#preview1" data-toggle="modal">
							<img src="img/Photos/Boston%20City%20Flow.jpg" alt="Boston%20City%20Flow" width="1024" height="683">
							<i class="icon-play-circle control" title="play"></i>
							</a>
						</div>
						
						<div class="span6 details">
							<span class="title videotitle">Video Title</span>
							<div class="label-text">
							<div class="datetime">6/21/2013 12:32:31 PM</div>
							<div class="published">published</div>
							<div class="timecode">00:00:00</div>
						</div>
						
						<div class="btn-group dropup controls">
						<a href="videoplaylist.html" class="btn btn-mini"><i class="icon-edit"></i> Edit</a>
						<a href="video-gallery.html" class="btn btn-mini"><i class="icon-remove-sign"></i> Remove</a>
						<a href="#" class="btn btn-mini">ID 838098</a>
						<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right">
						<!-- dropdown menu links -->
						<li><a href="#">View Video</a></li>
						<li><a href="#">View XML</a></li>
						<li><a href="#">View JSON</a></li>
						</ul>
						</div>
						
						</div>
						
						</div>
						
					</li>
					 
						<li  class="storyassetitem border-bottom" draggable="true">
				
						<div class="row-fluid">
						
						<div class="span3 thumbnail videothumbnail">
						<a href="#preview1" data-toggle="modal">
							<img src="img/Photos/Boston%20City%20Flow.jpg" alt="Boston%20City%20Flow" width="1024" height="683">
							<i class="icon-play-circle control" title="play"></i>
							</a>
						</div>
						
						<div class="span6 details">
							<span class="title videotitle">Video Title</span>
							<div class="label-text">
							<div class="datetime">6/21/2013 12:32:31 PM</div>
							<div class="published">published</div>
							<div class="timecode">00:00:00</div>
						</div>
						
						<div class="btn-group dropup controls">
						<a href="videoplaylist.html" class="btn btn-mini"><i class="icon-edit"></i> Edit</a>
						<a href="video-gallery.html" class="btn btn-mini"><i class="icon-remove-sign"></i> Remove</a>
						<a href="#" class="btn btn-mini">ID 838098</a>
						<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right">
						<!-- dropdown menu links -->
						<li><a href="#">View Video</a></li>
						<li><a href="#">View XML</a></li>
						<li><a href="#">View JSON</a></li>
						</ul>
						</div>
						
						</div>
						
						</div>
						
					</li>
					 
						<li  class="storyassetitem border-bottom" draggable="true">
				
						<div class="row-fluid">
						
						<div class="span3 thumbnail videothumbnail">
						<a href="#preview1" data-toggle="modal">
							<img src="img/Photos/Boston%20City%20Flow.jpg" alt="Boston%20City%20Flow" width="1024" height="683">
							<i class="icon-play-circle control" title="play"></i>
							</a>
						</div>
						
						<div class="span6 details">
							<span class="title videotitle">Video Title</span>
							<div class="label-text">
							<div class="datetime">6/21/2013 12:32:31 PM</div>
							<div class="published">published</div>
							<div class="timecode">00:00:00</div>
						</div>
						
						<div class="btn-group dropup controls">
						<a href="videoplaylist.html" class="btn btn-mini"><i class="icon-edit"></i> Edit</a>
						<a href="video-gallery.html" class="btn btn-mini"><i class="icon-remove-sign"></i> Remove</a>
						<a href="#" class="btn btn-mini">ID 838098</a>
						<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right">
						<!-- dropdown menu links -->
						<li><a href="#">View Video</a></li>
						<li><a href="#">View XML</a></li>
						<li><a href="#">View JSON</a></li>
						</ul>
						</div>
						
						</div>
						
						</div>
						
					</li>
					 
						<li  class="storyassetitem border-bottom" draggable="true">
				
						<div class="row-fluid">
						
						<div class="span3 thumbnail videothumbnail">
						<a href="#preview1" data-toggle="modal">
							<img src="img/Photos/Boston%20City%20Flow.jpg" alt="Boston%20City%20Flow" width="1024" height="683">
							<i class="icon-play-circle control" title="play"></i>
							</a>
						</div>
						
						<div class="span6 details">
							<span class="title videotitle">Video Title</span>
							<div class="label-text">
							<div class="datetime">6/21/2013 12:32:31 PM</div>
							<div class="published">published</div>
							<div class="timecode">00:00:00</div>
						</div>
						
						<div class="btn-group dropup controls">
						<a href="videoplaylist.html" class="btn btn-mini"><i class="icon-edit"></i> Edit</a>
						<a href="video-gallery.html" class="btn btn-mini"><i class="icon-remove-sign"></i> Remove</a>
						<a href="#" class="btn btn-mini">ID 838098</a>
						<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right">
						<!-- dropdown menu links -->
						<li><a href="#">View Video</a></li>
						<li><a href="#">View XML</a></li>
						<li><a href="#">View JSON</a></li>
						</ul>
						</div>
						
						</div>
						
						</div>
						
					</li>
					 
						<li  class="storyassetitem border-bottom" draggable="true">
				
						<div class="row-fluid">
						
						<div class="span3 thumbnail videothumbnail">
						<a href="#preview1" data-toggle="modal">
							<img src="img/Photos/Boston%20City%20Flow.jpg" alt="Boston%20City%20Flow" width="1024" height="683">
							<i class="icon-play-circle control" title="play"></i>
							</a>
						</div>
						
						<div class="span6 details">
							<span class="title videotitle">Video Title</span>
							<div class="label-text">
							<div class="datetime">6/21/2013 12:32:31 PM</div>
							<div class="published">published</div>
							<div class="timecode">00:00:00</div>
						</div>
						
						<div class="btn-group dropup controls">
						<a href="videoplaylist.html" class="btn btn-mini"><i class="icon-edit"></i> Edit</a>
						<a href="video-gallery.html" class="btn btn-mini"><i class="icon-remove-sign"></i> Remove</a>
						<a href="#" class="btn btn-mini">ID 838098</a>
						<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right">
						<!-- dropdown menu links -->
						<li><a href="#">View Video</a></li>
						<li><a href="#">View XML</a></li>
						<li><a href="#">View JSON</a></li>
						</ul>
						</div>
						
						</div>
						
						</div>
						
					</li>
					 
						<li  class="storyassetitem border-bottom" draggable="true">
				
						<div class="row-fluid">
						
						<div class="span3 thumbnail videothumbnail">
						<a href="#preview1" data-toggle="modal">
							<img src="img/Photos/Boston%20City%20Flow.jpg" alt="Boston%20City%20Flow" width="1024" height="683">
							<i class="icon-play-circle control" title="play"></i>
							</a>
						</div>
						
						<div class="span6 details">
							<span class="title videotitle">Video Title</span>
							<div class="label-text">
							<div class="datetime">6/21/2013 12:32:31 PM</div>
							<div class="processing">pending</div>
							<div class="timecode">00:00:00</div>
						</div>
						
						<div class="btn-group dropup controls">
						<a href="videoplaylist.html" class="btn btn-mini"><i class="icon-edit"></i> Edit</a>
						<a href="video-gallery.html" class="btn btn-mini"><i class="icon-remove-sign"></i> Remove</a>
						<a href="#" class="btn btn-mini">ID 838098</a>
						<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right">
						<!-- dropdown menu links -->
						<li><a href="#">View Video</a></li>
						<li><a href="#">View XML</a></li>
						<li><a href="#">View JSON</a></li>
						</ul>
						</div>
						
						</div>
						
						</div>
						
					</li>
					 
						<li  class="storyassetitem border-bottom" draggable="true">
				
						<div class="row-fluid">
						
						<div class="span3 thumbnail videothumbnail">
						<a href="#preview1" data-toggle="modal">
							<img src="img/Photos/Boston%20City%20Flow.jpg" alt="Boston%20City%20Flow" width="1024" height="683">
							<i class="icon-play-circle control" title="play"></i>
							</a>
						</div>
						
						<div class="span6 details">
							<span class="title videotitle">Video Title</span>
							<div class="label-text">
							<div class="datetime">6/21/2013 12:32:31 PM</div>
							<div class="error">unpublished</div>
							<div class="timecode">00:00:00</div>
						</div>
						
						<div class="btn-group dropup controls">
						<a href="videoplaylist.html" class="btn btn-mini"><i class="icon-edit"></i> Edit</a>
						<a href="video-gallery.html" class="btn btn-mini"><i class="icon-remove-sign"></i> Remove</a>
						<a href="#" class="btn btn-mini">ID 838098</a>
						<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right">
						<!-- dropdown menu links -->
						<li><a href="#">View Video</a></li>
						<li><a href="#">View XML</a></li>
						<li><a href="#">View JSON</a></li>
						</ul>
						</div>
						
						</div>
						
						</div>
						
					</li>
					
					</ol>
				
			</fieldset>
			
		</div>
		
	</section>
	
  </form>
	
<footer class="container">
	
		<div class="row-fluid bordertop label-text">
				
            <span class="pull-right">
                <a id="dnn_dnnTerms_hypTerms" class="LoginLink" rel="nofollow" href="http://presto-dev.usatoday.com/terms.aspx">Terms Of Use</a> | <a id="dnn_dnnPrivacy_hypPrivacy" class="LoginLink" rel="nofollow" href="http://presto-dev.usatoday.com/privacy.aspx">Privacy Statement</a>
            </span>	
            
			<img src="img/logo-presto-footer.svg" alt="logo-presto-footer">
			
            <div id="Copyright">
      
				<span id="dnn_dnnCopyright_lblCopyright" class="Copyright">Copyright © 2012 by Gannett Digital</span>
            </div>
        </div>

</footer>


<!-- Modal -->
		<div id="preview1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="preview1" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-sign"></i></button>
	    <h3 id="myModalLabel3">USAT»Preview»Boston City Flow</h3>
	  </div>
	  <figure class="modal-body"><i class="icon-play-circle control" style="font-size:78px;" title="play"></i>
	    <img src="img/Photos/Boston%20City%20Flow.jpg" alt="Boston%20City%20Flow" width="1024" height="683">
	    <figcaption>In another moment down went Alice after it, never once considering how in the world she was to get out again. <cite>(Photo: Louis Lopez, AP)</cite></figcaption>
	  </figure>
	</div>
	
<!-- JavaScript -->
	<script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/components.js"></script>
    <script src="js/presto.js"></script>
    
  </body>
</html>