<!DOCTYPE html>
<html dir="ltr" lang="en-US" ng-app="components">

  <head>
	<meta charset="utf-8">
    <title>Presto | TEMPLATE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
    <link href="css/module.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/presto-ui.css" rel="stylesheet" media="screen">
    <link href="css/pstrap.css" rel="stylesheet" media="screen">
    <link href="css/select2.css" rel="stylesheet" media="screen">
    <link href="css/presto-ux.css" rel="stylesheet" media="screen">


	<style>
		
/* Input Controls */

/*
label {
  line-height: 1em;
	position: relative;
  overflow: show;
  cursor: pointer;
	margin-right: 1em;
}
*/

label input {
  padding: 0;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}

input[type="radio"], input[type="checkbox"] {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 1em;
}


input[type="radio"]:before, input[type="radio"]:after, input[type="checkbox"]:before, input[type="checkbox"]:after {
width: 1em !important;
  height: 1em !important;
  display: inline-block;
  content:'';
	font-family: 'icons-presto', fantasy !important;
	font-style: normal !important;
	font-weight: normal !important;
	position: relative;
	line-height: 1;
  top: -2px;
  left: -2px
}

input[type="radio"]:before, input[type="checkbox"]:before  {
	background: rgb(234,234,234);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C — Add Browser extension versions for greater backwards compatibility */
	border: 1px solid rgb(170,170,170);
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
}

input[type="radio"]:checked:before, input[type="checkbox"]:checked:before  {
	background: rgb(234,234,254);
	background: linear-gradient(to bottom, rgba(214,214,254,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	border-color: rgba(65,146,238,.5);
	box-shadow: 1px 1px 1px rgba(0,0,0,.1) inset;
}

input[type="radio"]:before {
	border-radius: 2em;
}

input[type="radio"]:after {
	color: rgb(65,146,238);
	content: "•";
  font-size: 1.5em;
	position: absolute;
	opacity: 0;
  line-height: 1;
  text-align: center;
  left: -.23em;
  top: -.35em;
  width: 1em;
  height: 1em
}

input[type="radio"]:hover:after {
	opacity: .25;
}

input[type="radio"]:checked:after {
	opacity: 1;
}

input[type="checkbox"]:before {
	border-radius: .25em;
	color:rgba(170,170,170,0);
}

input[type="checkbox"]:after {
	color: rgb(65,146,238);
	content: "✔";
	position: absolute;
	opacity: 0;
	line-height: 1.3;
	text-align: center;
	top: 0;
	left: 0;
}

input[type="checkbox"]:hover:after {
	opacity: .25;
}

input[type="checkbox"]:checked:after {
	opacity: 1;
}

.indent-5 {
	margin-left: 5px;
}

.indent-10 {
	margin-left: 10px;
}
		
	</style>
    
  </head>
  
<body id="Body">
    
    <form  id="Form" enctype="multipart/form-data" name="storyform">


<!-- Content -->
	<header class="navbar navbar-inverse">
   	
   	 <div class="navbar-inner">
        
<!-- <div class="row-fluid"> CHANGE to row-fluid -->
        <div class="container">
        
            <div class="logo pull-left">
                <a href="/">
                    <div>
                        <div class="presto-logo dark">
                            <icon class="p-icon-mark-presto design"></icon>
                            <h1>PRESTO</h1>
                            <h2>Design</h2>
                            <div class="clear"></div>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="nav-collapse collapse">
                
                <!-- DDRmenu v02.00.01 - Menu.Navbar template -->
              
				<ul class="nav">

        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">View <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Content Dashboard</a></li>
                          <li><a href="#">Asset Gallery</a></li>
                          <li><a href="#">Wires</a></li>
                          <li class="divider"></li>
                          <li><a href="#"><strong>More…</strong></a></li>
                        </ul>
                      </li>
                      
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li class="nav-header">Articles</li>
                          <li class="dropdown-submenu">
                          	<a tabindex="-1" href="#">Blog Post</a>
						  	<ul class="dropdown-menu">
								<li><a href="#">App Insider		  </a></li>	
								<li><a href="#">Book Buzz		  </a></li>	
								<li><a href="#">Book Review		  </a></li>	
								<li><a href="#">Breaking News	  </a></li>	
								<li><a href="#">Campus Rivalry	  </a></li>	
								<li><a href="#">Corrections		  </a></li>	
								<li><a href="#">Cruise Log		  </a></li>	
								<li><a href="#">CyberTruth		  </a></li>	
								<li><a href="#">Daily Pitch		  </a></li>	
								<li><a href="#">Dispatches		  </a></li>	
								<li><a href="#">Drive On		  </a></li>	
								<li><a href="#">Event			  </a></li>	
								<li><a href="#">Faith & Reason	  </a></li>	
								<li><a href="#">Fantasy Joe		  </a></li>	
								<li><a href="#">Fantasy Windup	  </a></li>	
								<li><a href="#">Fighting Stances  </a></li>	
								<li><a href="#">Game Hunters	  </a></li>	
								<li><a href="#">Game On!		  </a></li>	
								<li><a href="#">Green House		  </a></li>	
								<li><a href="#">Happy Ever After  </a></li>	
								<li><a href="#">Hotel Check-In	  </a></li>	
								<li><a href="#">Idol Chatter	  </a></li>	
								<li><a href="#">Idol Meter		  </a></li>	
								<li><a href="#">Kindness		  </a></li>	
								<li><a href="#">Lifeline Live	  </a></li>	
								<li><a href="#">Live From		  </a></li>	
								<li><a href="#">On Deadline		  </a></li>	
								<li><a href="#">On Politics		  </a></li>	
								<li><a href="#">Paw Print Post	  </a></li>	
								<li><a href="#">Points of Interest</a></li>	
								<li><a href="#">Pop Candy		  </a></li>	
								<li><a href="#">Pressreleases	  </a></li>	
								<li><a href="#">Promo			  </a></li>	
								<li><a href="#">Science Fair	  </a></li>	
								<li><a href="#">Short Takes		  </a></li>	
								<li><a href="#">Technology Live	  </a></li>	
								<li><a href="#">Test			  </a></li>	
								<li><a href="#">The Huddle		  </a></li>	
								<li><a href="#">The Oval		  </a></li>	
								<li><a href="#">Today in the Sky  </a></li>	
								<li><a href="#">View from China	  </a></li>	
	                        </ul>
                          </li>
                          <li><a href="#">Story</a></li>
                          <li><a href="#">Breaking News</a></li>
                          <li><a href="#">Book Review</a></li>
                          <li class="divider"></li>
                          <li class="nav-header">Assets</li>
                          <li><a href="#">Gallery</a></li>
                          <li><a href="#">Video</a></li>
                          <li><a href="#">Multi-Image Upload</a></li>
                          <li class="divider"></li>
                          <li><a href="#"><strong>More…</strong></a></li>
                        </ul>
                      </li>
                      
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          	<li class="nav-header">Sections</li>
							<li><a href="#">Home				  </a></li>
							<li><a href="#">News				  </a></li>
							<li><a href="#">Sports				  </a></li>
							<li><a href="#">Life				  </a></li>
							<li><a href="#">Money				  </a></li>
							<li><a href="#">Tech				  </a></li>
							<li><a href="#">Travel				  </a></li>
	                        <li class="divider"></li>
							<li class="nav-header">Special</li>
							<li><a href="#">Curated Topic		  </a></li>
							<li><a href="#">Global Modules		  </a></li>
							<li><a href="#">Html Edit Test		  </a></li>
							<li><a href="#">Manage Fronts		  </a></li>
							<li><a href="#">Mobile Config Tool	  </a></li>
							<li><a href="#">Social Media		  </a></li>
							<li><a href="#">Staff Edit			  </a></li>
							<li><a href="#">Staff Maintenance	  </a></li>
							<li><a href="#">User Generated Content</a></li>
	                        <li class="divider"></li>
	                        <li><a href="#"><strong>More…</strong></a></li>
                        </ul>
                      </li>
                      
            <li class="dropdown">
                            <a href="http://presto-dev.usatoday.com/PropertyAdmin.aspx" data-toggle="dropdown" class="dropdown-toggle">Property Admin <b class="caret"></b></a>

                        <ul class="dropdown-menu">

                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/URLChanges.aspx" class="dropdown-toggle">URL Changes</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/ManageUsersRoles.aspx" class="dropdown-toggle">Manage Users &amp; Roles</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/ViewasUser.aspx" class="dropdown-toggle">View as User</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/DeactivateSection.aspx" class="dropdown-toggle">Deactivate Section</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/ManageDropdowns.aspx" class="dropdown-toggle">Manage Dropdowns</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/TestSkinPage.aspx" class="dropdown-toggle">TestSkinPage</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/ModalTest.aspx" class="dropdown-toggle">Modal Test</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/SampleModule.aspx" class="dropdown-toggle">Sample Module</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/PrestoSettings.aspx" class="dropdown-toggle">Presto Settings</a>

                    
                </li>
                <li class="dropdown-submenu">
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/Mobile/Content.aspx" class="dropdown-toggle">Mobile</a>

                            <ul class="dropdown-menu">

                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/Mobile/TestMobilePage.aspx" class="dropdown-toggle">Test Mobile Page</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/Mobile/Content.aspx" class="dropdown-toggle">Content</a>

                    
                </li>
        </ul>

                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/PageManager.aspx" class="dropdown-toggle">Page Manager</a>

                    
                </li>
        </ul>

            </li>
            <li class="dropdown">
                            <a href="http://presto-dev.usatoday.com/Dev.aspx" data-toggle="dropdown" class="dropdown-toggle">Dev <b class="caret"></b></a>

                        <ul class="dropdown-menu">

                <li class="dropdown-submenu">
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_View.aspx" class="dropdown-toggle">Dev_View</a>

                            <ul class="dropdown-menu">

                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_View/Budget.aspx" class="dropdown-toggle">Budget</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_View/UtilityModule.aspx" class="dropdown-toggle">UtilityModule</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_View/Trending.aspx" class="dropdown-toggle">Trending</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_View/Trending_2.aspx" class="dropdown-toggle">Trending_2</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_View/UploadTest.aspx" class="dropdown-toggle">UploadTest</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_View/Search.aspx" class="dropdown-toggle">Search</a>

                    
                </li>
        </ul>

                </li>
                <li class="dropdown-submenu">
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_Create.aspx" class="dropdown-toggle">Dev_Create</a>

                            <ul class="dropdown-menu">

                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_Create/Interactive.aspx" class="dropdown-toggle">Interactive</a>

                    
                </li>
                <li class="dropdown-submenu">
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_Create/Templates.aspx" class="dropdown-toggle">Templates</a>

                            <ul class="dropdown-menu">

                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_Create/Templates/Template1.aspx" class="dropdown-toggle">Template 1</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_Create/Templates/Template2.aspx" class="dropdown-toggle">Template 2</a>

                    
                </li>
        </ul>

                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_Create/UploadAudio.aspx" class="dropdown-toggle">Upload Audio</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_Create/Wirestestonly.aspx" class="dropdown-toggle">Wires test only</a>

                    
                </li>
        </ul>

                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/RightNow.aspx" class="dropdown-toggle">Right Now</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/StyleGuide.aspx" class="dropdown-toggle">Style Guide</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/ImageManager.aspx" class="dropdown-toggle">Image Manager</a>

                    
                </li>
        </ul>

            </li>
    </ul>
				
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user icon-white"></i>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a id="dnn_ctl01_registerLink" title="Visit My Profile" class="dropdown-toggle" href="http://presto-dev.usatoday.com/UserProfile/tabid/57/userId/151/Default.aspx">John Smith</a>
<!--close registerGroup-->

                            </li>
                            <li>
                                <a id="dnn_dnnLOGIN_loginLink" title="Logout" class="gbl_login" href="http://presto-dev.usatoday.com/Create/VideoPlaylist/tabid/1836/ctl/Logoff/Default.aspx">Logout</a>
<!--close loginGroup-->
                            </li>
                        </ul>
                    </li>
                </ul>
                
                   <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            The Indiana Star
                            <b class="caret"></b>
                        </a>
                        
                        <ul class="dropdown-menu">
								<li><a href="#">The Indianapolis Star		  </a></li>
								<li><a href="#">Journal and Courier, Lafayette		  </a></li>
								<li><a href="#">The Star Press, Muncie	  </a></li>
								<li><a href="#">Palladium-Item, Richmond	  </a></li>
                        </ul>

                    </li>
                </ul>
                
            </div>

        </div>
        
    </div>
    
<!-- ADD Breedcrumb -->
    <div id="breadcrumb" class="container">
		<ul class="breadcrumb">
			<li class="indexitem"><a href="#">Content Dashboard</a> <span class="divider">/</span></li>
			<li class="strong"><strong>Create Story</strong></li>
		</ul>
	</div>
   	
   	</header>




	<section id="Content" class="container" ng-controller="Controller">
	
			<div class="btn-group dropdown metalinks pull-right">
			<button class="btn btn-mini" title="click to copy ID to clipboard"><i class="p-icon-sharethree" style="color: rgb(102,102,102)"></i> ID 838098</button>
			<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
			<ul class="dropdown-menu">
			
				<div class="indent-10 muted text-small" style="margin: 10px">
					<div><strong>Last action:</strong> 
					<span class="capitalize ng-binding">draft</span> - 8/28/13 9:41 AM</div>
					<div><strong>Created by:</strong> jsmith</div>
					<div><strong>Modified by:</strong> jsmith</div>
					<div id="assetorigin" class=""><strong>Origin:</strong> The Indiana Star</div>
				</div>
				
				
                 <li class="divider"></li>
			    <!-- dropdown menu links -->
			    <li><a href="#">Edit Asset</a></li>
			    <li><a href="#">Duplicate Asset</a></li>
			    <li class="divider"></li>
			    <li><a href="#">View XML</a></li>
			    <li><a href="#">View JSON</a></li>
			  </ul>
			</div>
			
			<div class="btn-group dropdown metalinks pull-right">
			<button class="btn btn-mini" title="click to copy ID to clipboard"><i class="p-icon-mark-presto" style="color: rgb(204,204,204)"></i>  ID 838098</button>
			<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
			<ul class="dropdown-menu">
			
				<div class="indent-10 muted text-small" style="margin: 10px">
					<div><strong>Last action:</strong> 
					<span class="capitalize ng-binding">draft</span> - 8/28/13 9:41 AM</div>
					<div><strong>Created by:</strong> jsmith</div>
					<div><strong>Modified by:</strong> jsmith</div>
					<div id="assetorigin" class=""><strong>Origin:</strong> The Indiana Star</div>
				</div>
				
				
                 <li class="divider"></li>
			    <!-- dropdown menu links -->
			    <li><a href="#">Edit Asset</a></li>
			    <li><a href="#">Duplicate Asset</a></li>
			    <li class="divider"></li>
			    <li><a href="#">View XML</a></li>
			    <li><a href="#">View JSON</a></li>
			  </ul>
			</div>
	
	
    <div id="Panes">
    	<div>
    		<div class="">
    			<div class="clearfix">
    				<div class="ContainerWrapper"></div>
	    			
	    				<div class="row-fluid">
		    			
		    				<div id="story" class="span8">
		    				
			    				<div id="storytitle">
				    				<label class="pull-left"><strong>Title</strong></label>
				    				<span remaining-characters="" maxlength="70" ng-model="model.headline" class="label-text pull-right text-xsmall"><strong class="small" ng-bind="0+model.headline.length">0</strong> / 70</span>
				    				<input class="xxlarge required headline span12 ng-pristine ng-invalid ng-invalid-required" tabindex="1" type="text" ng-model="model.headline" required="">
			    				</div>
		    				
			    				<div id="storydata" class="row-fluid">
				    				
				    				<div id="metadata" class="span5" style="height:800px">
					    				<div class="content">
						    				
						    				<div class="muted text-small">
												<div><strong>Last action:</strong> 
												<span class="capitalize ng-binding">draft</span> - 8/28/13 9:41 AM</div>
												<div><strong>Created by:</strong> jsmith</div>
												<div><strong>Modified by:</strong> jsmith</div>
												<div id="assetorigin" class=""><strong>Origin:</strong> The Indiana Star</div>
											
											<hr>
											
											<div id="assetshare">
												<label>Share</strong> 
												<button class="btn btn-micro pull-right" ng-click="toggleshareoptions()">edit</button>
												<div class="text-small indent-10" ng-show="!isShareOptions">With All</div> 
											</div>
											
											
											<div id="shareoptions" ng-show="isShareOptions">
													<div class='controls indent-10'>
														<label for="shareoption1"><input type="radio" name="sharingoptions" id="shareoption1" checked>All</label> 
														<label for="shareoption2"><input type="radio" name="sharingoptions" id="shareoption2">Other Properties and Sites</label> 
														<label for="shareoption3"><input type="radio" name="sharingoptions" id="shareoption3">Other Sites Only</label> 
														<label for="shareoption4"><input type="radio" name="sharingoptions" id="shareoption4">No Sharing</label> 
													</div>	    		 
												</div>
						    				
						    				<hr>
						    				
						    				<div>
						    				
						    				<section>
                                            <label>Front Assignments</label>
                                            <div class="select2-container select2-container-multi span12 ng-valid ng-dirty" style="">
                                            	<ul class="select2-choices" style="">
	                                            	<li class="select2-search-choice selection-row">    
	                                            		<div>NEWS</div>
	                                            		<a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a>
	                                            	</li>
	                                            	<li class="select2-search-choice selection-row">
	                                            		<div>Tech Mobile New</div>    <a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a>
	                                            	</li>
                                            		<li class="select2-search-field">    
                                            			<input type="text" class="select2-input select2-default" tabindex="0">  
                                            		</li>
                                            	</ul><div class="select2-drop select2-drop-multi select2-display-none select2-drop-active"> </div>
                                            </div>
                                            
                                            <br>
                                            
                                            
                                            <div>
												<strong>The Journal Courier</strong>  
												<button class="btn btn-micro pull-right" ng-click="toggleFrontS1()">edit</button>
												<div ng-show="!isFrontS1" class="indent-10">News, Tech Mobile New</div>
											
											<div id="fronts1" ng-show="isFrontS1">
											
											   <div class="select2-container select2-container-multi span12 ng-valid ng-dirty" id="s2id_autogen1" style="">
                                            	<ul class="select2-choices" style="">  
                                            		<li class="select2-search-choice selection-row">    
	                                            		<div>NEWS</div>
	                                            		<a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a>
	                                            	</li>
	                                            	<li class="select2-search-choice selection-row">
	                                            		<div>Tech Mobile New</div>    <a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a>
	                                            	</li>
                                            		<li class="select2-search-field">    
                                            			<input type="text" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false" class="select2-input select2-default" tabindex="0">  
                                            		</li>
                                            	</ul>
												</div>
											</div>
                                            </div>
                                            
                                            <div>
												<strong>Palladium Item</strong>  
												<button class="btn btn-micro pull-right" ng-click="toggleFrontS2()">edit</button>
												<div ng-show="!isFrontS2" class="indent-10">News, Tech Mobile New</div>
											
											<div id="fronts2" ng-show="isFrontS2">
											
											   <div class="select2-container select2-container-multi span12 ng-valid ng-dirty" id="s2id_autogen1" style="">
                                            	<ul class="select2-choices" style="">
                                            	<li class="select2-search-choice selection-row">    
	                                            		<div>NEWS</div>
	                                            		<a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a>
	                                            	</li>
	                                            	<li class="select2-search-choice selection-row">
	                                            		<div>Tech Mobile New</div>    <a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a>
	                                            	</li>
                                            		<li class="select2-search-field">    
                                            			<input type="text" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false" class="select2-input select2-default" tabindex="0">  
                                            		</li>
                                            	</ul>
												</div>
											</div>
                                            </div>
	    		 
                                            <hr class="clear">
											</section>
											
											
											
						    				</div>
						    				
						    				</div>
					    				</div>
				    				</div>
				    				
				    				<div id="bodydata" class="span7"></div>
				    				
			    				</div>
		    				</div>
		    		
		    				<div id="storycontrols" class="sidebar span4">
		    				
			    				<div id="assetBar">
				    			<div id="savecontrols" class="saveControls content">
								    <div class="messageContainer">
								        <div>
								            <div class="uppercase pull-right assetStatus">
								                <span ng-show="model.status" ng-class="model.status" class="ng-binding draft" style="">draft</span>
								                <span ng-show="!model.status" style="display: none;">DRAFT</span>
								            </div>
								            <div class="label-text pull-left">
								                <span ng-show="state.isSavingDraft || state.isPublishing" style="display: none;"><i class="p-icon-spinner spinner"></i> <small><strong>Saving</strong></small></span>
								                <span class="uppercase text-small danger strong" ng-show="!state.isSavingDraft" style="display: none;">NOT SAVED</span>
								                <span class="savedOn" ng-show="model.updatedOn &amp;&amp; !(state.isSavingDraft || state.isPublishing)" style=""><small class="ng-binding"><strong>Saved:</strong> 1 hr ago (8/28/13 9:42 AM)</small></span>
								            </div>
								            <div class="clear"></div>
								        </div>
								    </div>
								    <div class="btn-group">			    
										<button id="fullscreen" title="Click for Full Screen View" ng-click="togglefullscreen()" class="btn"><i class="icon-fullscreen"></i></button>
		
										<a id="previewbtn" title="Click to Preview" class="btn"  ng-disabled="!validate.canSaveDraft()" href="http://www.usatoday.com" target="preview"><i class="icon-eye-open"></i></a>
				
								        
								       </div>
								        
								       <div class="btn-group">

										<button  title="Click to send to Newsgate" class="btn"  ng-disabled="!validate.canSaveDraft()" ng-click="savedraft()" tabindex="2"><i class="icon- icon-arrow-right"></i> Newsgate</button>
						
								        <button type="button" title="Click to save Draft" id="savedraft" class="btn btn-primary" ng-click="saveDraft()" ng-disabled="!validate.canSaveDraft()">
								            Save
								        </button>
								    </div>
								    
								    </div>
				    			<div id="publishcontrols" class="publishControls content">	
						
							<div id="publishbutton" class="">
								<button id="publishbtn" class="btn btn-success btn-large btn-block" ng-disabled="!isDraft" ng-click="publish()">Publish</button>
							</div>
							
							<div id="publishedmsg1" class="embargomsg pull-clear text-small" ng-show="!isPublished && !isEmbargoed"><strong>Published:</strong> Not Published</div>
								
							<div id="publishedmsg2" class="embargomsg pull-clear text-small" ng-show="isPublished && !isEmbargoed"><strong>Published:</strong> >1 Min ago  (3/21/2013 4:48 pm)</div>
							
							<div id="publishedmsg3" class="embargomsg pull-clear text-small" ng-show="isEmbargoed"><strong>Published:</strong> Pending Embargo</div>
							
							<div id="publishedmsg3" class="embargomsg pull-clear text-small" ng-show="isEmbargoed"><strong>Published:</strong> </div>
							
							<div id="embargodate1" class="embargomsg pull-clear text-small" ng-show="!isEmbargoed"><strong>Embargo</strong>: Publish Immediately <button class="btn btn-micro btn-inverse" ng-click="toggleembargooptions()">edit</button></div>
						
							<div id="embargodate2" class="embargomsg pull-clear text-small" ng-show="isEmbargoed"><strong>Embargo</strong>: P <button style="" class="btn btn-micro btn-inverse"  ng-click="toggleembargooptions()">edit</button></div>
						
							
							<div id="embargooptions" class="text-small" ng-show="isEmbargoOptions">
													<label class='control-label text-small' for='inputIcon'>Embargo Date/Time</label>
													<div class='controls'>
														<div class='input-prepend input-append'>
															<span class='add-on'><i class='icon-calendar'></i></span>
															<input ng-click="embargo()" id='inputIcon' type='datetime-local'>
														<button title="Click to Cancel Embargo" class="btn" ng-click="cancelembargo()"><i class="icon-remove-sign"></i></button>
														</div>
														
														
													</div>	    		 
												</div>	
									
							<div id="contentque" class="pull-clear text-small">
								
								<div id='returnqueue'  ng-show="isPublished">
													
													<input id="returncq" type='checkbox' style='vertical-align: baseline;'> 
													<label for="returncq" style='display: inline-block' class='text-small'>Return Story to Content Queue</label>
												
													</div>
												
								<label for="notecq" class="text-small strong">Note to Content Queue</label>
								<textarea id="notecq" name="notecq" class="span12 text-small ng-pristine ng-valid" rows="1" placeholder="click to add note" ng-model="model.notesToCq"></textarea>
								
							</div>						
							
						</div>
				    			
				    			<div class="assetPanelContainer">
			    				
			    					<div id="assetspanel" class="assetsPanel">

										<tabset class="nav nav-tabs" id="assetTabs">
																
											<div class="tabbable">
															
											<ul class="nav nav-tabs">
												<li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-search"></i></a></li>
											    <li><a href="#tab2" data-toggle="tab">Assets</a></li>
											</ul>
										
												<div class="tab-content">
																	
													<div id="tab1" class="tab-pane form-search active" title="search">
									
				<header>
									
					<div class="input-prepend input-append searchBox">
						
				    	<div class="btn-group">
				    	<button class="btn dropdown-toggle" data-toggle="dropdown">
						      Any
					      <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					      <li><a href="#">Any</a></li>
					      <li><a href="#"><i class="p-icon-html"  title="Embed"></i> Embed</a></li>
					      <li><a href="#"><i class="icon-facetime-video" title="video"></i> External Video</a></li>
					      <li><a href="#"><i class="p-icon-popup" title="video"></i> Gallery</a></li>
					      <li><a href="#"><i class="icon-camera" title="video"></i> Image</a></li>
					      <li><a href="#"><i class="icon-hand-up" title="video"></i> Interactive</a></li>
					      <li><a href="#"><i class="icon-map-marker" title="video"></i> Map</a></li>
					      <li><a href="#"><i class="p-icon-quote-left" title="video"></i> Pullquote</a></li>
					      <li><a href="#"><i class="p-icon-text" title="video"></i> Text</a></li>
					      <li><a href="#"><i class="icon-facetime-video" title="video"></i> Video</a></li>
					    </ul>
				    </div>
				    
						<input type="search" class="input-medium" ng-model="model.searchkeyword" ng-blur="searchresults()" placeholder="Keyword/Content ID">
				    
						<div class="btn-group">
							<button type="submit" class="btn" ng-click="searchresults()"><i class="icon-search"></i></button>
						</div>
					
					</div>
									
				</header>
	
				<div class="assetList">
							
					<div class="assetListDefaultText" ng-hide="isSendRequest || isSearchResults">
						<strong>Enter keyword or content ID above to begin search.</strong>
					</div>
					
					<div class="assetListDefaultText" ng-show="noSearchResults">
						<strong class="text-warning">Sorry. No results found for "<span ng-bind="model.searchkeyword">your search</span>".</strong><hr>Enter keyword or content ID above to search again.
					</div>
					
					<div ng-show="isSendRequest"><i class="p-icon-spinner spinner spinner-middle"></i></div>
						
					<div class="assetListContainer assetSearch" ng-show="isSearchResults" ng-hide="isSendRequest || !isSearchResults" style="">
									
						 <div draggable="true" ng-click="addAsset()" class="assetItem">

						 	<div class="row-fluid">
						
								<div class="span1 assetIcons">
			<i class="p-icon-html"  title="Embed"><label>Embed</label></i>
			<a href="#"><i class="p-icon-export-2"  title="Insert at Pointer"><label>Insert at Pointer</label></i></a>
			<a href="#"><i class="icon-plus-sign" title="Associate but do not Insert"><label>Associate</label></i></a>
		</div>
								
								<div class="span8 assetMetadata">
									<span class="assetTitle">Pensive Parakeet</span>
									<footer>
										<small class="assetTimestamp muted">6/4/13 12:35 PM</small>
			
			<div class="btn-group dropdown metalinks">
			<button class="btn btn-mini" title="click to copy ID to clipboard">ID 838098</button>
			<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
			<ul class="dropdown-menu">
			    <!-- dropdown menu links -->
			    <li><a href="#">Edit Asset</a></li>
			    <li><a href="#">View Asset</a></li>
			    <li><a href="#">View XML</a></li>
			    <li><a href="#">View JSON</a></li>
			  </ul>
			</div>
									 </footer>
								</div>
								
								<div class="span3 assetThumbnail">
									<div>
										<div class="assetPlayIcon"><i class="icon-play-circle"></i></div>
										<img src="img/Photos/Pensive%20Parakeet.jpg" alt="Pensive%20Parakeet">
									</div>
								</div>
						
							</div>
					
						 </div>
					
				</div>
			
				</div>
		
			</div>
											
													<div id="tab2" class="tab-pane" title="assets">
			
				<header>
					<span class="badge">999</span> Assets
				</header>

				<div class="assetList">				
			
					<div class="assetListDefaultText" ng-hide="isAssetAdded">
					<strong>No assets have been added to this article yet.</strong>
				</div>
						
					<div class="assetListContainer assetSearch" ng-show="isAssetAdded" ng-hide="!isAssetAdded"style="">
									
						 <div draggable="true" class="assetItem">

						 	<div class="row-fluid">
						
								<div class="span1 assetIcons">
									<i class="p-icon-html"  title="Embed"><label>Embed</label></i>
									<a href="#"><i class="p-icon-export-2"  title="Insert at Pointer"><label>Insert at Pointer</label></i></a>
									<a href="#"><i class="icon-remove-sign"  title="remove asset"><label>Remove Asset</label></i></a>
								</div>
								
								<div class="span8 assetMetadata">
									<span class="assetTitle">Pensive Parakeet</span>
									<footer>
										<small class="assetTimestamp muted">6/4/13 12:35 PM</small>
										<div class="btn-group dropdown metalinks">
											<button class="btn btn-mini" title="click to copy ID to clipboard">ID 838098</button>
											<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
											<ul class="dropdown-menu">
											    <!-- dropdown menu links -->
											    <li><a href="#">Edit Asset</a></li>
											    <li><a href="#">View Asset</a></li>
											    <li><a href="#">View XML</a></li>
											    <li><a href="#">View JSON</a></li>
											</ul>
										</div>
									 </footer>
								</div>
								
								<div class="span3 assetThumbnail">
									<div>
										<div class="assetPlayIcon"><i class="icon-play-circle"></i></div>
										<img src="img/Photos/Pensive%20Parakeet.jpg" alt="Pensive%20Parakeet">
									</div>
								</div>
						
							</div>
					
						 </div>
						 
					</div>
				
				</div>
								
			</div>
										
												</div>
											
											</div>
										
										</tabset>

									</div></div>
				    			</div>
		    			
							</div>
		    			
		    			</div>
	    			
	    			</div>
	    			
    			</div>
    		</div>
		</div>
    </section>

	


<!-- Modal -->
	<div id="preview1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="preview1" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-sign"></i></button>
	    <h3 id="myModalLabel3">USAT»Preview»Boston City Flow</h3>
	  </div>
	  <div class="modal-body">
	    <p><img src="img/Photos/Boston%20City%20Flow.jpg" alt="Boston%20City%20Flow" width="1024" height="683"></p>
	    <p>In another moment down went Alice after it, never once considering how in the world she was to get out again. <cite>(Photo: Louis Lopez, AP)</cite> </p>
	  </div>
	</div>
	
<!-- JavaScript -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/components.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/presto.js"></script>

    
  </form>
  </body>
</html>