<!DOCTYPE html>
<html dir="ltr" lang="en-US" ng-app="components">

  <head>
	<meta charset="utf-8">
    <title>Presto | TEMPLATE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="css/presto.css" rel="stylesheet" media="screen">
    <link href="css/select2.css" rel="stylesheet" media="screen">
    <link href="css/webfont-icons.css" rel="stylesheet" media="screen">
  </head>
  
  <body>

<form id="storyform" name="storyform" novalidate>

<!-- Content -->
	<header id="prestoheader" class="container">
	  <nav class="row-fluid navbar">
      	<div class="navbar-inner">
                <div class="container">
                  <a class="brand" href="#">
                  <img src="img/presto-design-logo.png" alt="presto-design-logo">
                  </a>
                  <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                      
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">View <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Content Dashboard</a></li>
                          <li><a href="#">Asset Gallery</a></li>
                          <li><a href="#">Wires</a></li>
                          <li class="divider"></li>
                          <li><a href="#"><strong>More…</strong></a></li>
                        </ul>
                      </li>
                      
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li class="nav-header">Articles</li>
                          <li class="dropdown-submenu">
                          	<a tabindex="-1" href="#">Blog Post</a>
						  	<ul class="dropdown-menu">
								<li><a href="#">App Insider		  </a></li>	
								<li><a href="#">Book Buzz		  </a></li>	
								<li><a href="#">Book Review		  </a></li>	
								<li><a href="#">Breaking News	  </a></li>	
								<li><a href="#">Campus Rivalry	  </a></li>	
								<li><a href="#">Corrections		  </a></li>	
								<li><a href="#">Cruise Log		  </a></li>	
								<li><a href="#">CyberTruth		  </a></li>	
								<li><a href="#">Daily Pitch		  </a></li>	
								<li><a href="#">Dispatches		  </a></li>	
								<li><a href="#">Drive On		  </a></li>	
								<li><a href="#">Event			  </a></li>	
								<li><a href="#">Faith & Reason	  </a></li>	
								<li><a href="#">Fantasy Joe		  </a></li>	
								<li><a href="#">Fantasy Windup	  </a></li>	
								<li><a href="#">Fighting Stances  </a></li>	
								<li><a href="#">Game Hunters	  </a></li>	
								<li><a href="#">Game On!		  </a></li>	
								<li><a href="#">Green House		  </a></li>	
								<li><a href="#">Happy Ever After  </a></li>	
								<li><a href="#">Hotel Check-In	  </a></li>	
								<li><a href="#">Idol Chatter	  </a></li>	
								<li><a href="#">Idol Meter		  </a></li>	
								<li><a href="#">Kindness		  </a></li>	
								<li><a href="#">Lifeline Live	  </a></li>	
								<li><a href="#">Live From		  </a></li>	
								<li><a href="#">On Deadline		  </a></li>	
								<li><a href="#">On Politics		  </a></li>	
								<li><a href="#">Paw Print Post	  </a></li>	
								<li><a href="#">Points of Interest</a></li>	
								<li><a href="#">Pop Candy		  </a></li>	
								<li><a href="#">Pressreleases	  </a></li>	
								<li><a href="#">Promo			  </a></li>	
								<li><a href="#">Science Fair	  </a></li>	
								<li><a href="#">Short Takes		  </a></li>	
								<li><a href="#">Technology Live	  </a></li>	
								<li><a href="#">Test			  </a></li>	
								<li><a href="#">The Huddle		  </a></li>	
								<li><a href="#">The Oval		  </a></li>	
								<li><a href="#">Today in the Sky  </a></li>	
								<li><a href="#">View from China	  </a></li>	
	                        </ul>
                          </li>
                          <li><a href="#">Story</a></li>
                          <li><a href="#">Breaking News</a></li>
                          <li><a href="#">Book Review</a></li>
                          <li class="divider"></li>
                          <li class="nav-header">Assets</li>
                          <li><a href="#">Gallery</a></li>
                          <li><a href="#">Video</a></li>
                          <li><a href="#">Multi-Image Upload</a></li>
                          <li class="divider"></li>
                          <li><a href="#"><strong>More…</strong></a></li>
                        </ul>
                      </li>
                      
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          	<li class="nav-header">Sections</li>
							<li><a href="#">Home				  </a></li>
							<li><a href="#">News				  </a></li>
							<li><a href="#">Sports				  </a></li>
							<li><a href="#">Life				  </a></li>
							<li><a href="#">Money				  </a></li>
							<li><a href="#">Tech				  </a></li>
							<li><a href="#">Travel				  </a></li>
	                        <li class="divider"></li>
							<li class="nav-header">Special</li>
							<li><a href="#">Curated Topic		  </a></li>
							<li><a href="#">Global Modules		  </a></li>
							<li><a href="#">Html Edit Test		  </a></li>
							<li><a href="#">Manage Fronts		  </a></li>
							<li><a href="#">Mobile Config Tool	  </a></li>
							<li><a href="#">Social Media		  </a></li>
							<li><a href="#">Staff Edit			  </a></li>
							<li><a href="#">Staff Maintenance	  </a></li>
							<li><a href="#">User Generated Content</a></li>
	                        <li class="divider"></li>
	                        <li><a href="#"><strong>More…</strong></a></li>
                        </ul>
                      </li>
                      
                    </ul>
                   </div><!-- /.nav-collapse -->
                </div>
        </div><!-- /navbar-inner -->
      </nav>
	</header>
  
	<section id="page" ng-controller="Controller" class="container">
		
		<div id="breadcrumb" class="row-fluid">	
			<ul class="breadcrumb">
			  <li><a href="#">Content Dashboard</a><span class="divider">/</span></li>
			  <li><a href="#">Sub-section</a><span class="divider">/</span></li>
			  <li><strong>Template</strong></li>
			 </ul>
		</div>
	
		<fieldset class="tabbable">

			<div id="storyurl" class="pull-right" style="">
				<div class=""><strong>URL</strong> 
						<a href="#">http://www.usatoday.com/story/weather/2012/12/05/arctic-report-card-noaa/1748861/</a>
						<div class="btn-group dropup metalinks">
			  <button class="btn btn-mini" title="click to copy Presto ID to clipboard">ID 838098</button>
			  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <!-- dropdown menu links -->
			    <li><a href="#">Edit Asset</a></li>
			    <li><a href="#">View Asset</a></li>
			    <li><a href="#">View XML</a></li>
			    <li><a href="#">View JSON</a></li>
			  </ul>
			</div>
				</div>
			</div>

			<ul id="storytabs" class="nav nav-tabs">
				<li class="active"><a href="#story" data-toggle="tab">Story</a></li>
				<li><a href="#history" data-toggle="tab">history</a></li>
			</ul>
			
			<div class="tab-content">
			 
				<article id="story" class="tab-pane active">
 		
					<div id="storycontrols" class="offset8 span4 affix">
			
						<div class="alert alert-warning text-small">
				<strong>tjefferson</strong> and <strong>bfranklin</strong> are editing this story
			</div>
					
						<fieldset id="draftcontrols" class="draftcontrols">

							<div class="content"><div id="draftmessage" class="status draft pull-left">DRAFT</div> 
							
							<div id="saving" class="label-text pull-right small" ng-show="!">Saving <i class="p-icon-spinner spinner"></i></div>
							
							<div id="draftmessageoff" class="savemessage pull-clear">NOT SAVED</div>

			<div id="lastsaved" class="savemessage hide"><strong>Saved:</strong> 1 min ago (3/21/2013 4:48 pm)</div>
			
			<div class="btn-group">
				<button class="btn" type="button"> <i class="icon-fullscreen"></i></button>
				<button class="btn" type="button"> <i class="icon-check"></i></button>
				<button class="btn" ng-disabled="storyform.$invalid" tabindex="2">Save</button>
				<button id="previebtn" class="btn" ng-disabled="storyform.$invalid">Preview</button>
			</div>
			
		</div>							
			
		</fieldset>
								
						<fieldset id="publishcontrols" class="publishcontrols content">	
			
						<div id="publishbutton" class="pull-left">
							<button id="publishbtn" class="btn btn-success" ng-disabled="!storyform.storyheadline">Publish</button>
						</div>
							
						<div id="excludefrom" class="text-small">
							<label>Exclude from:</label>
							<label class="pull-left"><input type='checkbox' class="pull-left"> Mobile</label>
							<label class="pull-left"><input type='checkbox' class="pull-left"> Tablet</label>
						</div>
						
						<div id="contentque" class="pull-clear text-small">
							<div id='returnqueue' class="hide">
							
							<input class='' type='checkbox' style='vertical-align: baseline;'> 
							<label style='display: inline-block'>Return Story to Content Queue</label>
						
							</div>
						
						<label for="notecq">Note to Content Queue</label>
						<textarea id="notecq"  name="notecq" cols="8" rows="1" onfocus="this.style.height='72px'"  onblur="this.style.height='18px'" placeholder="click to add note"></textarea>		</div>
						
						<div id="embargodate1" class="embargomsg pull-clear text-small"><strong>Embargo</strong>: Publish Immediately <button class="btn btn-mini" onclick="showOptions('publishoptions')">edit</button></div>

						<div id="embargodate2" class="embargomsg text-small hide"><strong>Publish in</strong>: 58 Min  (3/21/2013 4:48 pm) <button class="btn btn-mini" onclick="showOptions('publishoptions')">edit</button></div>
						
						<div id="publishedmsg" class="embargomsg text-small hide"><strong style="color: rgb(153,255,153);">Published:</strong> >1 Min ago  (3/21/2013 4:48 pm)</div>
						
						<div id="embargooptions" class=" text-small hide">
							<label class='control-label' for='inputIcon'>Embargo Date/Time</label>
							<div class='controls'>
								<div class='input-prepend'>
									<span class='add-on'><i class='icon-calendar'></i></span>
									<input onfocus="changeembargo()" id='inputIcon' type='datetime-local'>
								</div>
							</div>	    		 
						</div>							
						
					</fieldset>
								
						<div id="assetlibrary">
							
				<div class="tabbable">
				
				  <ul class="nav nav-tabs" style="margin-top: 10px">
				    <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-search"></i></a></li>
				    <li><a href="#tab2" data-toggle="tab">Assets</a></li>
				  </ul>
							
				  <div class="tab-content asset-content">
							
					  <div class="tab-pane active form-search" id="tab1" title="search">
									
<header>
									
							<div class="input-prepend input-append">
									
									
										    <div class="btn-group">
										    	<button class="btn dropdown-toggle" data-toggle="dropdown">
												      Any
											      <span class="caret"></span>
											    </button>
											    <ul class="dropdown-menu">
			      <li><a href="#">Any</a></li>
			      <li><a href="#"><i class="p-icon-html" title="Embed"></i> Embed</a></li>
			      <li><a href="#"><i class="icon-facetime-video" title="video"></i> External Video</a></li>
			      <li><a href="#"><i class="p-icon-popup" title="video"></i> Gallery</a></li>
			      <li><a href="#"><i class="icon-camera" title="video"></i> Image</a></li>
			      <li><a href="#"><i class="icon-hand-up" title="video"></i> Interactive</a></li>
			      <li><a href="#"><i class="icon-map-marker" title="video"></i> Map</a></li>
			      <li><a href="#"><i class="p-icon-quote-left" title="video"></i> Pullquote</a></li>
			      <li><a href="#"><i class="p-icon-text" title="video"></i> Text</a></li>
			      <li><a href="#"><i class="icon-facetime-video" title="video"></i> Video</a></li>
											    </ul>
										    </div>
										    
										    <input type="search" onclick="search()" class="" placeholder="Keyword/Presto ID" ng-model="storyform.keyword">
										    
										    <div class="btn-group">
<button type="submit" class="btn"><i class="icon-search"></i></button>
										    </div>
									</div>
									
						</header>
						
<div class="assetlist" style="">
					
	<table id="searchresults" ng-show="storyform.keyword">
									
									
	<tr draggable="true">
		<td>
			<i class="p-icon-html"  title="Embed"><span class="icon-label">Embed</span></i>
			<a href="#"><i class="p-icon-export-2 hide hover"  title="Insert at Pointer"><span class="icon-label">Insert at Pointer</span></i></a>
			<a href="#"><i class="icon-plus-sign hide hover" title="Associate but do not Insert"><span class="icon-label">Associate</span></i></a>
		</td>
		<td>
			<article><strong>Embed:</strong> Pensive Parakeet</article>
			<footer><span class="label-text">12/25/2013 12:35:56 PM</span> <div class="btn-group dropup metalinks">
   <button class="btn btn-mini" title="click to copy Presto ID to clipboard">ID 838098</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="#">Edit Asset</a></li>
    <li><a href="#">View Asset</a></li>
    <li><a href="#">View XML</a></li>
    <li><a href="#">View JSON</a></li>
  </ul>
</div></footer>
		</td>
		<td>
			<img src="img/Photos/Pensive%20Parakeet.jpg" alt="Pensive%20Parakeet">
		</td>
	</tr>
	
	<tr draggable="true">
		<td>
			<i class="icon-facetime-video" title="External Video"><span class="icon-label">External Video</span></i>
			<a href="#"><i class="p-icon-export-2 hide hover" title="Insert at Pointer"><span class="icon-label">Insert at Pointer</span></i></a>
			<a href="#"><i class="icon-plus-sign hide hover" title="Associate but do not Insert"><span class="icon-label">Associate</span></i></a>
		</td>
		<td>
			<article><strong>External Video:</strong> Boston City Flow</article>
			<footer><span class="label-text">12/25/2013 12:35:56 PM</span> <div class="btn-group dropup metalinks">
   <button class="btn btn-mini" title="click to copy Presto ID to clipboard">ID 838098</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="#">Edit Asset</a></li>
    <li><a href="#">View Asset</a></li>
    <li><a href="#">View XML</a></li>
    <li><a href="#">View JSON</a></li>
  </ul>
</div></footer>
		</td>
		<td>
		<a href="#preview1" data-toggle="modal"><i class="icon-play-circle control" title="play"><span class="icon-label">External Video</span></i>
					<img src="img/Photos/Boston%20City%20Flow.jpg" alt="Boston%20City%20Flow" width="100"></a>
		</td>
	</tr>
	
	<tr draggable="true">
		<td>
			<i class="p-icon-popup" title="Gallery"><span class="icon-label">Gallery</span></i>
			<a href="#"><i class="p-icon-export-2 hide hover" title="Insert at Pointer"><span class="icon-label">Insert at Pointer</span></i></a>
			<a href="#"><i class="icon-plus-sign hide hover" title="Associate but do not Insert"><span class="icon-label">Associate</span></i></a>
		</td>
		<td>
			<article><strong>Gallery:</strong> Costa Rican Frog</article>
			<footer><span class="label-text">12/25/2013 12:35:56 PM</span> <div class="btn-group dropup metalinks">
   <button class="btn btn-mini" title="click to copy Presto ID to clipboard">ID 838098</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="#">Edit Asset</a></li>
    <li><a href="#">View Asset</a></li>
    <li><a href="#">View XML</a></li>
    <li><a href="#">View JSON</a></li>
  </ul>
</div></footer>
		</td>
		<td><a  href="#preview2" data-toggle="modal"><i class="p-icon-opennewwindow control" title="Open Image"><span class="icon-label">Open Image</span></i>
		<img src="img/Photos/Costa%20Rican%20Frog.jpg" alt="Costa%20Rican%20Frog" width="100" height="768"></a>
		</td>
	</tr>
	
	
	<tr draggable="true">
		<td>
			<i class="icon-camera" title="Image"><span class="icon-label">Image</span></i>
			<a href="#"><i class="p-icon-export-2 hide hover" title="Insert at Pointer"><span class="icon-label">Insert at Pointer</span></i></a>
			<a href="#"><i class="icon-plus-sign hide hover" title="Associate but do not Insert"><span class="icon-label">Associate</span></i></a>
		</td>
		<td>
			<article><strong>Image:</strong> PreRaphallite painting by Woodhouse.</article>
			<footer><span class="label-text">12/25/2013 12:35:56 PM</span> <div class="btn-group dropup metalinks">
   <button class="btn btn-mini" title="click to copy Presto ID to clipboard">ID 838098</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="#">Edit Asset</a></li>
    <li><a href="#">View Asset</a></li>
    <li><a href="#">View XML</a></li>
    <li><a href="#">View JSON</a></li>
  </ul>
</div></footer>
		</td>
		<td>
			<a href="#preview3" data-toggle="modal"><i class="p-icon-opennewwindow control" title="Open Image"><span class="icon-label">Open Image</span></i><img src="img/Photos/PreRaphaelite.jpg" alt="PreRaphaelite" width="100"></a>
		</td>
	</tr>
	
	<tr draggable="true">
		<td>
			<i class="icon-hand-up" title="Interactive"><span class="icon-label">Interactive</span></i>
			<a href="#"><i class="p-icon-export-2 hide hover" title="Insert at Pointer"><span class="icon-label">Insert at Pointer</span></i></a>
			<a href="#"><i class="icon-plus-sign hide hover" title="Associate but do not Insert"><span class="icon-label">Associate</span></i></a>
		</td>
		<td colspan="2">
			<article><strong>Interactive:</strong> Hurricane Sandy damage comparison.</article>
			<footer><span class="label-text">12/25/2013 12:35:56 PM</span> <div class="btn-group dropup metalinks">
   <button class="btn btn-mini" title="click to copy Presto ID to clipboard">ID 838098</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="#">Edit Asset</a></li>
    <li><a href="#">View Asset</a></li>
    <li><a href="#">View XML</a></li>
    <li><a href="#">View JSON</a></li>
  </ul>
</div></footer>
		</td>
	</tr>
	
	<tr draggable="true">
		<td>
			<i class="icon-map-marker" title="Map"><span class="icon-label">Map</span></i>
			<a href="#"><i class="p-icon-export-2 hide hover" title="Insert at Pointer"><span class="icon-label">Insert at Pointer</span></i></a>
			<a href="#"><i class="icon-plus-sign hide hover" title="Associate but do not Insert"><span class="icon-label">Associate</span></i></a>
		</td>
		<td colspan="2">
			<article><strong>Map:</strong> This is a map showing how the civil rights marchers made their way through Birmingham.</article>
			<footer><span class="label-text">12/25/2013 12:35:56 PM</span> <div class="btn-group dropup metalinks">
   <button class="btn btn-mini" title="click to copy Presto ID to clipboard">ID 838098</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="#">Edit Asset</a></li>
    <li><a href="#">View Asset</a></li>
    <li><a href="#">View XML</a></li>
    <li><a href="#">View JSON</a></li>
  </ul>
</div></footer>
		</td>
	</tr>
									
	<tr draggable="true">
		<td>
			<i class="p-icon-quote-left" title="pullquote"><span class="icon-label">Pullquote</span></i>
			<a href="#"><i class="p-icon-export-2 hide hover" title="Insert at Pointer"><span class="icon-label">Insert at Pointer</span></i></a>
			<a href="#"><i class="icon-plus-sign hide hover" title="Associate but do not Insert"><span class="icon-label">Associate</span></i></a>
		</td>
		<td colspan="2">
			
			<article><strong>Pullquote:</strong> In another moment down went Alice after it, never once considering how in the world she was to get out again. <br><cite>— Alice</cite></article>
			<footer><span class="label-text">12/25/2013 12:35:56 PM</span> <div class="btn-group dropup metalinks">
   <button class="btn btn-mini" title="click to copy Presto ID to clipboard">ID 838098</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="#">Edit Asset</a></li>
    <li><a href="#">View Asset</a></li>
    <li><a href="#">View XML</a></li>
    <li><a href="#">View JSON</a></li>
  </ul>
</div></footer>
		</td>
	</tr>
	
	<tr draggable="true">
		<td>
			<i class="p-icon-text" title="Text"><span class="icon-label">Text</span></i>
			<a href="#"><i class="p-icon-export-2 hide hover" title="Insert at Pointer"><span class="icon-label">Insert at Pointer</span></i></a>
			<a href="#"><i class="icon-plus-sign hide hover" title="Associate but do not Insert"><span class="icon-label">Associate</span></i></a>
		</td>
		<td colspan="2">
			<article><strong>Text:</strong> The rabbit-hole went straight on like a tunnel for some way, and then dipped suddenly down, so suddenly that Alice had not a moment to think about stopping herself before she found herself…</article>
			<footer><span class="label-text">12/25/2013 12:35:56 PM</span> <div class="btn-group dropup metalinks">
   <button class="btn btn-mini" title="click to copy Presto ID to clipboard">ID 838098</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="#">Edit Asset</a></li>
    <li><a href="#">View Asset</a></li>
    <li><a href="#">View XML</a></li>
    <li><a href="#">View JSON</a></li>
  </ul>
</div></footer>
		</td>
	</tr>
	
	<tr draggable="true">
		<td>
			<i class="icon-facetime-video" title="video"><span class="icon-label">Video</span></i>
			<a href="#"><i class="p-icon-export-2 hide hover" title="Insert at Pointer"><span class="icon-label">Insert at Pointer</span></i></a>
			<a href="#"><i class="icon-plus-sign hide hover" title="Associate but do not Insert"><span class="icon-label">Associate</span></i></a>
		</td>
		<td>
			<article><strong>Video:</strong> Old Cars</article>
			<footer>
<div class="btn-group dropup metalinks">
  <button class="btn btn-mini" title="click to copy Presto ID to clipboard">ID 838098</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="#">Edit Asset</a></li>
    <li><a href="#">View Asset</a></li>
    <li><a href="#">View Asset</a></li>
    <li><a href="#">View XML</a></li>
    <li><a href="#">View JSON</a></li>
  </ul>
</div> | 12/25/2013 12:35:56 PM</footer>
		</td>
		<td>
			<a href="#preview4" data-toggle="modal"><i class="icon-play-circle control" title="play"><span class="icon-label">External Video</span></i>
				
				
				<img src="img/Photos/merc_woody_3.jpg" alt="merc_woody_3" width="580" height="386">
				
				
			</a>
		</td>
	</tr>
	
				
	
</table>

	<div id="searchmessage1" class="message" ng-show="!storyform.keyword">
		Enter keyword or Presto ID above to begin search.
	</div>
	
	<div id="searchmessage2"  class="message error" ng-show="">
		Sorry, 0 results were found. Please try a different keyword or Presto ID.
	</div>
</div>

									
</div>
															
		<div class="tab-pane" id="tab2" title="A">
		<header>
			<span class="badge">99</span> Assets
		</header>
		
		<div class="assetlist">
			
			<table id="associated" ng-show="storyform.keyword">
		<tr draggable="true" class="priority">
		<td>
					
			<i class="p-icon-popup" title="Gallery"><span class="icon-label">Gallery</span></i>
			<i class="icon-ok-sign priority" title="Priority"><span class="icon-label">Priority</span></i>
			
			<a href="#"><i class="p-icon-export-2 hide hover" title="Insert at Pointer"><span class="icon-label">Insert at Pointer</span></i></a>
			<a href="#"><i class="icon-remove-sign hide hover" title="Delete Resource"><span class="icon-label">Delete Resource</span></i></a>
		</td>
		<td>
			<article><strong>Gallery:</strong> Costa Rican Frog</article>
			<footer>
<div class="btn-group dropup metalinks">
  <button class="btn btn-mini" title="click to copy Presto ID to clipboard">ID 838098</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="#">Edit Asset</a></li>
    <li><a href="#">View Asset</a></li>
    <li><a href="#">View XML</a></li>
    <li><a href="#">View JSON</a></li>
  </ul>
</div>
	 | 12/25/2013 12:35:56 PM</footer>
		</td>
		<td>
		<a href="#preview1" data-toggle="modal"><i class="p-icon-opennewwindow control" title="Open Image"><span class="icon-label">Open Image</span></i><img src="img/Photos/Costa%20Rican%20Frog.jpg" alt="Costa%20Rican%20Frog"></a>
			

		</td>
	</tr>			
									
	<tr draggable="true">
		<td>
			<i class="p-icon-html" title="Embed"><span class="icon-label">Embed</span></i>
			
			
			<a href="#"><i class="p-icon-export-2 hide hover" title="Insert at Pointer"><span class="icon-label">Insert at Pointer</span></i></a>
			<a href="#"><i class="icon-remove-sign hide hover" title="Delete Resource"><span class="icon-label">Delete Resource</span></i></a>
		</td>
		<td>
			<article><strong>Embed:</strong> Pensive Parakeet</article>
			<footer>
<div class="btn-group dropup metalinks">
  <button class="btn btn-mini" title="click to copy Presto ID to clipboard">ID 838098</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="#">Edit Asset</a></li>
    <li><a href="#">View Asset</a></li>
    <li><a href="#">View XML</a></li>
    <li><a href="#">View JSON</a></li>
  </ul>
</div> | 12/25/2013 12:35:56 PM</footer>		
		</td>
		<td>
			<img src="img/Photos/Pensive%20Parakeet.jpg" alt="Pensive%20Parakeet">
		</td>
	</tr>
	
	<tr draggable="true">
		<td>
			<i class="icon-facetime-video" title="External Video"><span class="icon-label">External Video</span></i>
			<a href="#"><i class="icon-ok-sign hide hover" title="Priority"><span class="icon-label">Priority</span></i></a><br>
			
			<a href="#"><i class="p-icon-export-2 hide hover" title="Insert at Pointer"><span class="icon-label">Insert at Pointer</span></i></a>
			<a href="#"><i class="icon-remove-sign hide hover"  title="Delete Resource"><span class="icon-label">Delete Resource</span></i></a>
		</td>
		<td>
			<article><strong>External Video:</strong> Boston City Flow</article>
			<footer><span class="label-text">12/25/2013 12:35:56 PM</span> <div class="btn-group dropup metalinks">
   <button class="btn btn-mini" title="click to copy Presto ID to clipboard">ID 838098</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="#">Edit Asset</a></li>
    <li><a href="#">View Asset</a></li>
    <li><a href="#">View XML</a></li>
    <li><a href="#">View JSON</a></li>
  </ul>
</div></footer>
		</td>
		<td>
			<a href="#preview1" data-toggle="modal"><i class="icon-play-circle control" title="play"><span class="icon-label">External Video</span></i>
			<img src="img/Photos/Boston%20City%20Flow.jpg" alt="Boston%20City%20Flow">
			</a>
		</td>
	</tr>
	

	
	
	<tr draggable="true">
		<td>
			<i class="icon-camera" title="Image"><span class="icon-label">Image</span></i>
			
			<a href="#"><i class="p-icon-export-2 hide hover" title="Insert at Pointer"><span class="icon-label">Insert at Pointer</span></i></a>
			<a href="#"><i class="icon-remove-sign hide hover" title="Delete Resource"><span class="icon-label">Delete Resource</span></i></a>
		</td>
		<td>
			<article><strong>Image:</strong> PreRaphallite painting by Woodhouse.</article>
			<footer><span class="label-text">12/25/2013 12:35:56 PM</span> <div class="btn-group dropup metalinks">
   <button class="btn btn-mini" title="click to copy Presto ID to clipboard">ID 838098</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="#">Edit Asset</a></li>
    <li><a href="#">View Asset</a></li>
    <li><a href="#">View XML</a></li>
    <li><a href="#">View JSON</a></li>
  </ul>
</div></footer>
		</td>
		<td>
			<a href="#preview1" data-toggle="modal"><i class="p-icon-opennewwindow control" title="Open Image"><span class="icon-label">Open Image</span></i><img src="img/Photos/PreRaphaelite.jpg" alt="PreRaphaelite"></a>
		</td>
	</tr>
	
	<tr draggable="true">
		<td>
			<i class="icon-hand-up" title="Interactive"><span class="icon-label">Interactive</span></i>
			<a href="#"><i class="icon-ok-sign hide hover" title="Priority"><span class="icon-label">Priority</span></i></a>
			
			<a href="#"><i class="p-icon-export-2 hide hover" title="Insert at Pointer"><span class="icon-label">Insert at Pointer</span></i></a>
			<a href="#"><i class="icon-remove-sign hide hover" title="Delete Resource"><span class="icon-label">Delete Resource</span></i></a>
		</td>
		<td colspan="2">
			<article><strong>Interactive:</strong> Hurricane Sandy damage comparison.</article>
			<footer><span class="label-text">12/25/2013 12:35:56 PM</span> <div class="btn-group dropup metalinks">
   <button class="btn btn-mini" title="click to copy Presto ID to clipboard">ID 838098</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="#">Edit Asset</a></li>
    <li><a href="#">View Asset</a></li>
    <li><a href="#">View XML</a></li>
    <li><a href="#">View JSON</a></li>
  </ul>
</div></footer>
		</td>
	</tr>
	
	<tr draggable="true">
		<td>
			<i class="icon-map-marker" title="Map"><span class="icon-label">Map</span></i>
			
			<a href="#"><i class="p-icon-export-2 hide hover" title="Insert at Pointer"><span class="icon-label">Insert at Pointer</span></i></a>
			<a href="#"><i class="icon-remove-sign hide hover"  title="Delete Resource"><span class="icon-label">Delete Resource</span></i></a>
		</td>
		<td colspan="2">
			<article><strong>Map:</strong> This is a map showing how the civil rights marchers made their way through Birmingham.</article>
		<footer><div class="btn-group dropup metalinks">
		  <button class="btn btn-mini" title="click to copy Presto ID to clipboard">ID 838098</button>
		  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
		    <!-- dropdown menu links -->
		    <li><a href="#">Edit Asset</a></li>
		    <li><a href="#">View Asset</a></li>
		    <li><a href="#">View XML</a></li>
		    <li><a href="#">View JSON</a></li>
		  </ul>
		</div> | 12/25/2013 12:35:56 PM</footer>
		</td>
	</tr>
									
	<tr draggable="true">
		<td>
			<i class="p-icon-quote-left" title="pullquote"><span class="icon-label">Pullquote</span></i>
			
			<a href="#"><i class="p-icon-export-2 hide hover" title="Insert at Pointer"><span class="icon-label">Insert at Pointer</span></i></a>
			<a href="#"><i class="icon-remove-sign hide hover"  title="Delete Resource"><span class="icon-label">Delete Resource</span></i></a>
		</td>
		<td colspan="2">
			
			<article><strong>Pullquote:</strong> In another moment down went Alice after it, never once considering how in the world she was to get out again. <br><cite>— Alice</cite></article>
			<footer><span class="label-text">12/25/2013 12:35:56 PM</span> <div class="btn-group dropup metalinks">
   <button class="btn btn-mini" title="click to copy Presto ID to clipboard">ID 838098</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="#">Edit Asset</a></li>
    <li><a href="#">View Asset</a></li>
    <li><a href="#">View XML</a></li>
    <li><a href="#">View JSON</a></li>
  </ul>
</div></footer>
		</td>
	</tr>
	
	<tr draggable="true">
		<td>
			<i class="p-icon-text" title="Text"><span class="icon-label">Text</span></i>
			
			<a href="#"><i class="p-icon-export-2 hide hover" title="Insert at Pointer"><span class="icon-label">Insert at Pointer</span></i></a>
			<a href="#"><i class="icon-remove-sign hide hover"  title="Delete Resource"><span class="icon-label">Delete Resource</span></i></a>
		</td>
		<td colspan="2">
			<article><strong>Text:</strong> The rabbit-hole went straight on like a tunnel for some way, and then dipped suddenly down, so suddenly that Alice had not a moment to think about stopping herself before she found herself…</article>
			<footer><span class="label-text">12/25/2013 12:35:56 PM</span> <div class="btn-group dropup metalinks">
   <button class="btn btn-mini" title="click to copy Presto ID to clipboard">ID 838098</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="#">Edit Asset</a></li>
    <li><a href="#">View Asset</a></li>
    <li><a href="#">View XML</a></li>
    <li><a href="#">View JSON</a></li>
  </ul>
</div></footer>
		</td>
	</tr>
	
	<tr draggable="true">
		<td>
			<i class="icon-facetime-video" title="video"><span class="icon-label">Video</span></i>
			<a href="#"><i class="icon-ok-sign hide hover" title="Priority"><span class="icon-label">Priority</span></i></a><br>
			
			<a href="#"><i class="p-icon-export-2 hide hover" title="Insert at Pointer"><span class="icon-label">Insert at Pointer</span></i></a>
						<a href="#"><i class="icon-remove-sign hide hover"  title="Delete Resource"><span class="icon-label">Delete Resource</span></i></a>
		</td>
		<td>
			<article><strong>Video:</strong> Old Cars</article>
			<footer><span class="label-text">12/25/2013 12:35:56 PM</span> <div class="btn-group dropup metalinks">
   <button class="btn btn-mini" title="click to copy Presto ID to clipboard">ID 838098</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="#">Edit Asset</a></li>
    <li><a href="#">View Asset</a></li>
    <li><a href="#">View XML</a></li>
    <li><a href="#">View JSON</a></li>
  </ul>
</div></footer>
		</td>
		<td><a href="#preview4" data-toggle="modal"><i class="icon-play-circle control" title="play"><span class="icon-label">External Video</span></i>
			<img src="img/Photos/merc_woody_3.jpg" alt="merc_woody_3">
		</a>
		</td>
	</tr>
	
				
	
</table>
			
		
			<div id="associatedmessage" class="message" ng-show="!storyform.keyword">
			No assets have been added to this article yet.
			</div>
	
		</div>
								
								</div>
								
							</div>
							
						</div>
						
						</div>										
					
					</div>	
 		
					<div id="storytitle" class="row-fluid">
 		
						<div class="span8">		
			    
							<label  class="pull-left">Headline</label>
							<div class="charcount label-text pull-right"><strong ng-bind="0+defaultheadline.length"></strong> / 55</div>
							<input type="text" class="headline input-xxlarge required" ng-model="defaultheadline" id="defaultheadline" name="defaultheadline" tabindex="1" maxlength="55" required>

						</div>
 	    
					</div>  
		
					<div id="storycontent" class="row-fluid">
			
						<fieldset id="storymeta" class="span3">	
			
							<div id="articlemetacontent">
	
								<div id="storyinfo" class="text-small">
									<div class="label-text"><strong>created by:</strong> <a href="#">jcranfordt</a></div>
									<div class="label-text"><strong>modified by:</strong> host</div>
									<div class="label-text"><strong>last action:</strong> Updated — Jun 17 2013, 9:34am</div>
								</div>
							
								<hr>
			
							</div>
			
						</fieldset>
					
						<fieldset id="storycopy" class="span5">
				
							<section id="articlecontent">
						
							</section>
				
						</fieldset>
			
					</div>
		
				</article>
		
				<article id="history" class="tab-pane">
			<h2>History</h2>
		</article>
		
			</div>
	
		</fieldset>		
		
	</section>
			
	<footer class="container">
	
		<div class="row-fluid bordertop label-text">
				
            <span class="pull-right">
                <a id="dnn_dnnTerms_hypTerms" class="LoginLink" rel="nofollow" href="http://presto-dev.usatoday.com/terms.aspx">Terms Of Use</a> | <a id="dnn_dnnPrivacy_hypPrivacy" class="LoginLink" rel="nofollow" href="http://presto-dev.usatoday.com/privacy.aspx">Privacy Statement</a>
            </span>	
            
			<img src="img/logo-presto-footer.svg" alt="logo-presto-footer">
			
            <div id="Copyright">
      
				<span id="dnn_dnnCopyright_lblCopyright" class="Copyright">Copyright © 2012 by Gannett Digital</span>
            </div>
        </div>

</footer>

<!-- Modal -->
	<div id="preview1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="preview1" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-sign"></i></button>
	    <h3 id="myModalLabel3">USAT»Preview»Boston City Flow</h3>
	  </div>
	  <div class="modal-body">
	    <p><img src="img/Photos/Boston%20City%20Flow.jpg" alt="Boston%20City%20Flow" width="1024" height="683"></p>
	    <p>In another moment down went Alice after it, never once considering how in the world she was to get out again. <cite>(Photo: Louis Lopez, AP)</cite> </p>
	  </div>
	</div>
	
<!-- JavaScript -->
	<script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/components.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/presto.js"></script>
    
  </form>
  </body>
</html>