<div id="assettabs" style="background-color: rgb(245,245,245);">

<div class="pull-right" style="position: relative; right: 30px; top:5px">

	<a href="" class="shorten-link">http://ux-dev.usatoday.com/story/sports/ncaaf/2013/10/09/air-force-san-diego-state-game-on-for-thursday/971863/</a>
	
	<!--#include virtual="presto-assetbullet.html" -->


</div>

<ul class="nav nav-tabs">
	<li class="active"><a href="#story" data-toggle="tab">Story</a></li>
	<li><a href="#versions" data-toggle="tab">Versions</a></li>
</ul></div>